<div class="{{ . }}-h">
    {{ if eq . "aplicaciones" }}
    <span class="mif-apps icon aplicaciones-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "juegos" }}
    <span class="mif-gamepad icon juegos-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "linux" }}
    <span class="mif-tux icon linux-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "noticias" }}
    <span class="mif-news icon noticias-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "programacion" }}
    <span class="mif-file-code icon programacion-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "estilo" }}
    <span class="mif-eye icon estilo-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "comunidad" }}
    <span class="mif-users icon comunidad-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "redesyseguridad" }}
    <span class="mif-security icon redesyseguridad-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "cursos" }}
    <span class="mif-books icon cursos-ico mif-5x"></span>
    {{ end }}

    {{ if eq . "instalacion" }}
    <i class="fa fa-microchip" aria-hidden="true"></i>
    {{ end }}
</div>
