<footer class="page-footer font-small lynxfootercolor pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">

      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">SOBRE MI</h5>
        <p style="margin:0px;">Soy un Programador que inicio en el mundo de Linux en 2012 con Huayra gracias al plan Conectar Igualdad de Argentina. Hoy en día Linux es mi sistema operativo primario y lo utilizo para jugar, desarrollar y demás, sin ningun tipo de problema</p>
      </div>


      <hr class="clearfix w-100 d-md-none pb-3" />


      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Colaboracion</h5>
        <p style="margin:0px;">¿Sabias que podes colaborar? Unite a nuestro grupo de telegram para averigurar como podes colaborar con la comunidad</p>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">El proyecto</h5>
        <p style="margin:0px;">Este proyecto es un desafio personal de aprendizaje con le cual se busca informar y llegar a muchas personas</p>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center text-white py-3">© 2019 Copyleft:
    <a href="#"> PatoJAD</a>
    <br /><br />
    <a href="https://facebook.com/PatoJAD/" class="facebook"><i class="fab fa-facebook-square"></i></a> &nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/PatoJADOficial" class="twitter"><i class="fab fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;
    <a href="https://www.youtube.com/channel/UCta4Iy4TzMx8Xo0pwpkbWgg" class="youtube"><i class="fab fa-youtube"></i></a> &nbsp;&nbsp;&nbsp;
    <a href="https://www.instagram.com/patojadoficial/" class="instagram"><i class="fab fa-instagram"></i></a>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/9eaacada43.js"></script>
<!-- Adicional JS Banner -->
<script>
  $(document).on("scroll", function(){
    if
      ($(document).scrollTop() > 86){
      $("#banner").addClass("shrink");
    }
    else
    {
      $("#banner").removeClass("shrink");
    }
  });
</script>
<!-- Script blog secction -->
<script>
   $(document).ready(function(){
   $('[data-toggle="tooltip"]').tooltip();
   });

  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight){
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    }
  }
</script>
