<style media="screen">
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('{{ if isset .Params "img" }} {{ .Params.img }} {{else}} https://opensource.com/sites/default/files/uploads/linux-toy-cmatrix-animated.gif {{ end }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<header class="masthead">
  {{- partial "topbar.html" . -}}
  <div class="container-fluid">
    <div class="header-slot">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            {{- partial "logo.html" . -}}
          </div>
          <div class="col-md-8">

            

          </div>
        </div>
      </div>
    </div>
    {{- partial "menu.html" . -}}
    <div class="row align-items-center">
      <div class="col-12" >
        &nbsp;
      </div>
      <div class="col-12 text-center">
        <div class="transparent" style="margin: 50px 15%; padding: 3px;">
          <h1 class="font-weight-light">
            {{ .Title }}
          </h1>
          <p>
            {{ if isset .Params "description" }}
              {{ .Params.description }}
            {{else}}
              <h1 class="font-weight-light">PatoJAD</h1>
            {{ end }}
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
