{{- partial "topbar.html" . -}}

<div class="header-slot">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        {{- partial "logo.html" . -}}
      </div>
      <div class="col-md-8">

        <div id="42927-1">
          <script src="//ads.themoneytizer.com/s/gen.js?type=1"></script>
          <script src="//ads.themoneytizer.com/s/requestform.js?siteId=42927&formatId=1"></script>
        </div>

      </div>
    </div>
  </div>
</div>

{{- partial "menu.html" . -}}
