<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href='index.html'>
      <img src="https://patojad.gitlab.io/blog/img/logo.png" />
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" expr:href='data:blog.homepageUrl'><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <i class="fas fa-compact-disc"></i> Instalaciones
          </a>
          <ul class="dropdown-menu multi-level">
            <li class="dropdown-submenu">
              <a  class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-ubuntu text-primary"></i> Ubuntu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://patojad.blogspot.com/p/instalacion-de-kde-neon.html">KDE Neon</a></li>
              </ul>
            </li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-linux text-primary"></i> Debian</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-linux text-primary"></i> Arch</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-fedora text-primary"></i> Fedora</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-linux text-primary"></i> LFS</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-suse text-primary"></i> SUSE</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-linux text-primary"></i> Gentoo</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-centos text-primary"></i> CentOS</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fab fa-linux text-primary"></i> Non SystemD</a></li>
            <li><a class="dropdown-toggle dropdown-item" data-toggle="dropdown" href="#"><i class="fas fa-desktop text-primary"></i> Otras (No Linux)</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="icon-bar">
  <a href="https://t.me/comunidadsoftwarelibre"><img alt="telegram" src="https://cdn.iconscout.com/icon/free/png-256/fly-50-840223.png" style="height: 20px; width: 20px;"></a>
  <a href="https://t.me/PatoJADBlog"><img alt="canal telegram" src="https://avvalmarket.ir/apps/com.puzzley.TeleDaramad13705/icon/512x512.png" style="height: 20px; width: 20px;"></a>
  <a href="https://mastodon.social/@PatoJAD" rel="me"><img alt="mastodon" src="https://fellies.blog/content/images/2018/10/Logotype--Simple-.svg" style="height: 20px; width: 20px;"></a>
</div>
