<!DOCTYPE html>
<html>
  <head>
    <!-- META Head -->
    <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'/>
    <meta content='GNU, Linux, Juegos, Software Libre' name='keywords'/>

    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="../static/css/boostrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/404.css" />

    <!-- Social media META -->
    <meta content='@PatoJADOficial' name='twitter:site'/>
    <meta content='@PatoJADOficial' name='twitter:creator'/>

  </head>
