<div class="navbar topbar">
  <a href="https://t.me/comunidadsoftwarelibre" target="_blank" class="nav-link telegram">
    <i class="fa fa-telegram" aria-hidden="true"></i>
  </a>
  <a href="https://www.youtube.com/channel/UCta4Iy4TzMx8Xo0pwpkbWgg" target="_blank" class="nav-link youtube">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>
  <a href="https://t.me/PatoJADBlog" target="_blank" class="nav-link telegram">
    <i class="fa fa-bullhorn" aria-hidden="true"></i>
  </a>
  <a href="https://t.me/PatoJADBlog" target="_blank" class="nav-link instagram">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a href="https://mastodon.social/@PatoJAD" rel="me" target="_blank" class="nav-link mastodon">
    <i class="fa fa-mastodon" aria-hidden="true"></i>
  </a>
  <a href="https://twitter.com/PatoJADOficial" target="_blank" class="nav-link twitter">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  <a href="https://facebook.com/PatoJAD/" target="_blank" class="nav-link facebook">
    <i class="fa fa-facebook-square" aria-hidden="true"></i>
  </a>
	<a href="https://mewe.com/page/5c951f1d3e0758737e8f222d/" target="_blank" class="nav-link mewe mr-auto">
    <i class="fa fa-flag" aria-hidden="true"></i>
  </a>
</div>
