<div class="card">
	<div class="card-header">
		<h4 class="card-title"><span class="background-color">Categorias</span></h4>
	</div>
	<div class="card-body transparent text-center">

		<div class="container-fluid">
			<div class="row">

				<div class="col-md-4 c-aplicaciones">
					<a href='{{ "aplicaciones/" | absURL }}'>
			      <i class="c-aplicaciones-text fa fa-bars" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-juegos">
					<a href='{{ "juegos/" | absURL }}'>
			      <i class="c-juegos-text fa fa-gamepad" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-linux">
					<a href='{{ "linux/" | absURL }}'>
			      <i class="c-linux-text fa fa-linux" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-noticias">
					<a href='{{ "noticias/" | absURL }}'>
			      <i class="c-noticias-text fa fa-newspaper-o" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-programacion">
					<a href='{{ "programacion/" | absURL }}'>
			      <i class="c-programacion-text fa fa-code" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-estilo">
					<a href='{{ "estilo/" | absURL }}'>
			      <i class="c-estilo-text fa fa-paint-brush" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-comunidad">
					<a href='{{ "lacomunidadopina/" | absURL }}'>
			      <i class="c-comunidad-text fa fa-users" aria-hidden="true"></i>
			    </a>
				</div>
				<div class="col-md-4 c-redesyseguridad">
					<a href='{{ "redesyseguridad/" | absURL }}'>
			      <i class="c-redesyseguridad-text fa fa-shield" aria-hidden="true"></i>
			    </a>
				</div>
			</div>

		</div>
	</div>
</div>
