<div class="widget-sidebar">
  <h2 class="title-widget-sidebar">// CATEGORIAS</h2>
  <center>
    <a href='{{ "publicaciones/aplicaciones/" | absURL }}' class="btn categories-btn"><i class="fas fa-bars"></i> Aplicaciones</a>
    <a href='{{ "publicaciones/juegos/" | absURL }}' class="btn categories-btn"><i class="fas fa-gamepad"></i> Juegos</a>
    <a href='{{ "publicaciones/linux/" | absURL }}' class="btn categories-btn"><i class="fab fa-linux"></i> GNU/Linux</a>
    <a href='{{ "publicaciones/noticias/" | absURL }}' class="btn categories-btn"><i class="fas fa-newspaper"></i> Noticias</a>
    <a href='{{ "publicaciones/programacion/" | absURL }}' class="btn categories-btn"><i class="fas fa-code"></i> Programacion</a>
    <a href='{{ "publicaciones/estilo/" | absURL }}' class="btn categories-btn"><i class="fas fa-palette"></i> Estilo</a>
  </center>
</div>
