{{- partial "widgets/search.html" . -}}
<br />
<br />
{{- partial "widgets/categorys.html" . -}}
<br />
<br />
<center>
	<a href="https://www.cerotec.net/estadisticas-129304/patojad.com.ar" title="contador visitas">
		<img src="https://www.cerotec.net/contador.php?t=12&s=2&i=129304" alt="www.cerotec.net">
	</a>
</center>
<br />
<br />
{{- partial "widgets/donar.html" . -}}
<br />
<br />
{{- partial "widgets/friendssite.html" . -}}
<br />
<br />
<center>
	<iframe id="tgw_5d9c828d83ba88e83f8b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" width="100%" height="540px" async></iframe><script>document.addEventListener("DOMContentLoaded", function () {document.getElementById("tgw_5d9c828d83ba88e83f8b4567").setAttribute("src", "https://tgwidget.com/widget/?id=5d9c828d83ba88e83f8b4567")})</script>
</center>
<br />
<br />
<center>
	<div id="45757-3">
		<script src="//ads.themoneytizer.com/s/gen.js?type=3"></script>
		<script src="//ads.themoneytizer.com/s/requestform.js?siteId=45757&formatId=3"></script>
	</div>
</center>
