{{- partial "widgets/search.html" . -}}
<br />
<br />
{{- partial "widgets/categorys.html" . -}}
<br />
<br />
{{- partial "widgets/donar.html" . -}}
<br />
<br />
{{- partial "widgets/friendssite.html" . -}}
<br />
<br />
<center>
	<iframe id="tgw_5d77c3c583ba881e358b4567" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" width="100%" height="540px" async></iframe><script>document.addEventListener("DOMContentLoaded", function () {document.getElementById("tgw_5d77c3c583ba881e358b4567").setAttribute("src", "https://tgwidget.com/widget/?id=5d77c3c583ba881e358b4567")})</script>
</center>
<br />
<br />
<center>
	<div id="42927-3">
		<script src="//ads.themoneytizer.com/s/gen.js?type=3"></script>
		<script src="//ads.themoneytizer.com/s/requestform.js?siteId=42927&formatId=3"></script>
	</div>
</center>
