<div class="widget-item bg-dark banner-container">
	<h4 class="widget-title title"><span>Nuestras Apps</span></h4>
	<div class="latest-blog">
    <a href="https://patojad.tk/">
  		<div class="lb-item">
				<h5 class="text-light" style="vertical-align: middle;">
          <i class="fa fa-bookmark jad-fa-color" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp; Blog
        </h5>
  		</div>
    </a>
    <a href="https://compartelibre.patojad.tk/">
  		<div class="lb-item">
				<h5 class="text-light" style="vertical-align: middle;">
          <i class="fa fa-share-alt jad-fa-color" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp; Comparte Libre
        </h5>
  		</div>
    </a>
    <a href="https://rest.patojad.tk/">
  		<div class="lb-item">
				<h5 class="text-light" style="vertical-align: middle;">
          <i class="fa fa-code jad-fa-color" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; REST Client
        </h5>
  		</div>
    </a>
	</div>
</div>
