<div class="card">
	<div class="card-header">
		<h4 class="card-title"><span class="background-color">Busqueda</span></h4>
	</div>
	<div class="card-body transparent">
		<div class="container-fluid">
			<div class="row" >

        <div class="col-md-12">
          <br/>
        </div>

        <div id="search-section" class="col-md-12" >
          <div id="search-form" class="field">
            <div class="form-group">
              <input id="search-input" class="form-control" type="text" placeholder="Busqueda">
            </div>
          </div>

          <div id="search-results-box" class="box" style="display: none; overflow-y: scroll;">
            <ul id="search-results-list" class="list-group" style="max-height: 200px;"></ul>
            <div id="search-results-noresults" class="notification is-info">
              No results found.
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
