<div class="widget-sidebar">
  <h2 class="title-widget-sidebar">// SITIOS AMIGOS</h2>
  <div class="content-widget-sidebar">
    <ul>
      <li class="recent-post">
        <div class="post-img">
          <img src="https://maratonlinuxero.org/media/logoMaratonLinuxero.png" class="img-fluid" width="100" height="100" style="width: 100px; height: 100px;" />
        </div>
        <a href="https://maratonlinuxero.org/"><h5>Maraton Linuxero</h5></a>
      </li>
      <br />
      <li class="recent-post">
        <div class="post-img">
          <img src="https://clubdesoftwarelibre.files.wordpress.com/2017/01/cropped-cropped-cropped-el-club-del-software-libre-6.png" class="img-fluid" width="100" height="100" style="width: 100px; height: 100px;" />
        </div>
        <a href="http://softlibre.com.ar/"><h5>Club del Software Libre</h5></a>
      </li>
      <br />
      <li class="recent-post">
        <div class="post-img">
          <img src="https://autoformaciontl.online/images/favicon.png" class="img-fluid" width="100" height="100" style="width: 100px; height: 100px;" />
        </div>
        <a href="https://autoformaciontl.online/"><h5>Auto Formacion TL</h5></a>
      </li>
      <br />
    </ul>
  </div>
</div>
