<footer class="footer pt-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="footer-widget mb-60 wow fadeInLeft" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
          <a href="/" class="logo mb-30">
            {{- partial "logo.html" "90px" -}}
          </a>
          <p class="mb-30 footer-desc pt-40">
            El proyecto PatoJAD desprendió de LatinLinux y busca conformar una comunidad. Donde todos son libres de compartir sus publicaciones y contenidos. La idea principal de la comunidad es generar contenido y dar un espacio para dar a conocer nuestra opinión o proyectos.
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 text-center">
        <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="https://rest.patojad.com.ar/" title="Rest API" target="_blank">
              <span class="label">Rest Client</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://ytplayer.patojad.com.ar/" title="YTPlayer" target="_blank">
              <span class="label">YTPlayer</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://telegram.patojad.com.ar/" title="Telegram Instancia" target="_blank">
              <span class="label">Telegram</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://jugamos.patojad.com.ar/" title="Countdown" target="_blank">
              <span class="label">Jugamos</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://live.patojad.com.ar/" title="Lives de PatoJAD" target="_blank">
              <span class="label">Live PatoJAD</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3  col-md-6 text-center">
        <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
          <ul class="list-group">
            <li class="list-group-item">
              <a href="https://compartelibre.patojad.com.ar/" title="Comparte Libre" target="_blank">
                <span class="label">Comparte Libre</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://pensamientos.patojad.com.ar/" title="Blog Instrospectivo" target="_blank">
                <span class="label">Pensamientos</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://mediastodon.patojad.com.ar/" title="Mediastodon" target="_blank">
                <span class="label">Mediastodon</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://streamtools.patojad.com.ar/" title="Stream Tools" target="_blank">
                <span class="label">Stream Tools</span>
              </a>
            </li>
            <li class="list-group-item">
              <a href="https://qrgenerator.lynx.net.ar/" title="QR Generator" target="_blank">
                <span class="label">QR Generator</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
        <div class="footer-social-links">
          <ul class="d-flex">
            <li>
              <a href="https://t.me/PatoJADCommunity" title="Telegram" target="_blank" rel="external">
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/PatoJAD" title="Youtube" target="_blank" rel="external">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://facebook.com/PatoJAD/" target="_blank" title="Facebook" rel="external">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/patojadoficial/" target="_blank" title="Instagram" rel="external">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/PatoJADOficial" target="_blank" title="Twitter" rel="external">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitch.tv/patojad" target="_blank" title="Twitch" rel="external">
                <i class="fa fa-twitch" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://discord.gg/n8XtgN3" target="_blank" title="Discord" rel="external">
                <i class="fa fa-discord-alt" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
         </div>
        <div class="col-lg-6 col-md-12  ">
          <p class="wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            Diseño creado por <a href="https://lynx.net.ar" rel="nofollow">Lynx Software Design</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

{{- partial "widgets/search.html" . -}}

<a id="theme-changer" onclick="changeTheme();">
</a>

<a href="#" class="scroll-top">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>

<script src="/js/dark-theme.js">
</script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
<script src="/js/count-up.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js">
</script>
<script src="/js/wow.min.js">
</script>
<script src="/js/theme.js">
</script>
