a{
  color: var(--site-color);
}

.list-group-item{
  background-color: var(--bg-site-3);
}

.list-group-item a{
  color: var(--a-color-2);
}

.logo {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  color: var(--site-color);
  fill: var(--site-color);
}
