* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6A7C92;
  overflow-x: hidden;
  position: relative;
}

ul, ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

i, span, a {
  display: inline-block;
  text-decoration: none;
}

/*** FOOTER ***/

.pt-100 {
  padding-top: 100px;
}

.pt-40 {
  padding-top: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.footer {
  position: relative;
  z-index: 2;
  background: var(--bg-site-2);
}

.footer .copyright-area {
  border-top: 2px solid var(--bg-site-3);
  padding: 25px 0;
  font-size: 16px;
  position: relative;
  z-index: 2;
}

.footer-social-links ul {
  justify-content: flex-start;
}

footer .copyright-area p {
  text-align: right;
}

.footer .footer-widget h4 {
  margin-bottom: 35px;
  font-weight: 500;
}

.footer-social-links ul li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  background: var(--bg-site-3);
  display: block;
  font-size: 18px;
  color: var(--a-color-2);
  margin-right: 15px;
}

.scroll-top {
  width: 45px;
  height: 45px;
  background: var(--site-color);
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

/*** NAVBAR ***/

.navbar-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-out 0s;
  padding: 0;
}

.navbar {
  padding: 20px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding: 0;
}

.navbar-toggler {
  padding: 0px;
}

.navbar-nav .nav-item {
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a.dd-menu {
  padding-right: 34px;
}

.navbar-nav .nav-item a {
  font-size: 16px;
  color: var(--a-color-2);
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 20px;
  display: inline-flex;
  align-items: center;
}

.sticky {
  position: fixed;
  z-index: 99;
  background: var(--bg-site);
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 5%);
  transition: all .3s ease-out 0s;
  background: #fff;
  padding: 0 0;
}

/*** breadcrumb ***/

.hero-section {
  padding-top: 100px;
  position: relative;
  height: 870px;
  display: flex;
  align-items: center;
}

.hero-section .hero-content-wrapper h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 65px;
  color: var(--site-color);
  margin-bottom: var(--a-color-2);
}

.hero-section .hero-content-wrapper p {
  font-size: 18px;
  line-height: 26px;
  color: #6a7c92;
  opacity: .8;
  margin-bottom: 30px;
}

.hero-section .hero-img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 48%;
  text-align: right;
  margin: 60px 0;
}

.hero-section .hero-img .hero-img-right {
  position: relative;
}

.hero-section .hero-img .image {
  width: 100%;
}
