:root{
  --bg-site-g: #FFF;
  --bg-site: #3763EB;
  --bg-site-2: #EFF2F9;
  --bg-site-3: rgba(106, 124, 146, 0.1);

  --a-color-2: #6A7C92;

  --text-color: rgba(106, 124, 146, 0.55);
  --text-title: #051441;

  --site-color: #03A9F4;

  --site-radius: 10px;

  --site- : #03A9F4;
	--site-page: #03A9F4;
	--site-linux: #01AA02;
	--site-juegos: #EF2D35;
	--site-aplicaciones: #0CB1EA;
	--site-noticias: #8B01CC;
	--site-programacion: #FFD740;
	--site-estilo: #F061AC;
	--site-comunidad: #282FBA;
	--site-redesyseguridad: #F7B100;
	--site-cursos: #956214;
	--site-instalacion: #1630BE;
}
