<div id="widgets" class="w-full px-3 flex flex-col gap-6">
  {{ if eq .Params.type "project" }}
  <div data-reveal>{{ partial "components/widgets/projectdata.html" . }}</div>
  {{ else }}
  <div data-reveal>{{ partial "components/widgets/table-of-content.html" . }}</div>
  <div data-reveal>{{ partial "components/articles/related.html" . }}</div>
  <div data-reveal>{{ partial "components/widgets/categories.html" . }}</div>
  <div data-reveal>{{ partial "components/widgets/social-network.html" . }}</div>
  <div data-reveal>{{ partial "components/widgets/donate.html" . }}</div>
  <div data-reveal>{{ partial "components/widgets/articlescant.html" . }}</div>
  <div data-reveal>{{ partial "components/widgets/tags.html" . }}</div>
  {{ end }}
  <div data-reveal>{{ partial "components/widgets/sponsors.html" . }}</div>
</div>