<div class="{{ . }}-h">
    {{ if eq . "aplicaciones" }}
    <i class="fa fa-3x fa-bars" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "juegos" }}
    <i class="fa fa-3x fa-gamepad" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "linux" }}
    <i class="fa fa-3x fa-linux" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "noticias" }}
    <i class="fa fa-3x fa-newspaper-o" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "programacion" }}
    <i class="fa fa-3x fa-code" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "estilo" }}
    <i class="fa fa-3x fa-paint-brush" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "comunidad" }}
    <i class="fa fa-3x fa-users" aria-hidden="true"></i>
    {{ end }}

    {{ if eq . "redesyseguridad" }}
    <i class="fa fa-3x fa-shield" aria-hidden="true"></i>
    {{ end }}
</div>
