<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>

  <div class="carousel-inner">

    {{ range first 1 (where .Data.Pages "Type" "in" (slice "juegos" "redesyseguridad" "comunidad" "linux" "programacion" "noticias" "estilo" "aplicaciones")).ByDate.Reverse }}
    <div class="carousel-item active">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">
        <img src="{{ .Params.img }}" class="d-block w-100 imgcarru" alt="{{ .Title }}" />
      </a>
      <div class="carousel-caption d-none d-md-block transparent" style="padding:10px; border-radius: 15px;">
        <h5>{{ .Title }}</h5>
        <p>{{ .Params.description }}</p>
      </div>
    </div>
    {{ end }}
    {{ range first 4 (after 1 (where .Data.Pages "Type" "in" (slice "juegos" "redesyseguridad" "comunidad" "linux" "programacion" "noticias" "estilo" "aplicaciones")).ByDate.Reverse) }}
    <div class="carousel-item">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">
        <img src="{{ .Params.img }}" class="d-block w-100 imgcarru" alt="{{ .Title }}" />
      </a>
      <div class="carousel-caption d-none d-md-block transparent" style="padding:10px; border-radius: 15px;">
        <h5>{{ .Title }}</h5>
        <p>{{ .Params.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
