{{ define "main" }}
  <style media="screen">
    :root{
      --site-color: var(--site-{{ .Params.type }});
    }
  </style>

  {{ .Scratch.Set "title" .Title }}
  {{ .Scratch.Set "description" .Params.description }}
  {{- partial "generic/postbreadcrumb.html" . -}}

  <section class="blog-section pt-130">
    <div class="container">
      <div class="row">

        <div class="col-xl-8 col-lg-7">
          <div class="left-side-wrapper mb-60">

            <div
              class="single-blog blog-style-2 mb-60 wow fadeInUp"
              data-wow-delay=".2s"
              style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
              <div class="blog-img blog-img-2">
                <img src="{{ .Params.img }}" alt="{{ .Title }}" title="{{ .Title }}">
              </div>
              <div class="blog-content">
                <h1 class="text-center">{{ .Title }}</h1>
                {{ .Content }}
              </div>
            </div>

            {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
            {{ range .Params.authors }}
              {{ range where (where $pages "Type" "authors") ".Params.name" . }}

                <div class="comment-form-wrapper ms-0 row team-section" style="margin-bottom: 50px;">
                  <h4 class="mb-40">Autor</h4>
                  <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-team text-center mb-40 wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                      <div class="team-img">
                        <img
                          src="{{ .Params.photo }}"
                          alt="{{ .Params.name }}"
                          title="{{ .Params.name }}" />
                      </div>
                      <div class="team-info">
                        <h4>{{ .Params.name }}</h4>
                        <span>{{ .Params.descriptionp }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-8 col-lg-8 col-md-6">
                    {{ .Content }}
                  </div>

                </div>
              {{ end }}
            {{ end }}


            <div class="comment-form-wrapper ms-0">
              <h4 class="mb-40">Comentarios</h4>
              <div id="disqus_thread"></div>
              <script>
                (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://https-patojad-gitlab-io-blog.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                })();
              </script>
            </div>

          </div>
        </div>

        {{- partial "widgets/lateralbar.html" . -}}

      </div>
    </div>
  </section>

{{ end }}
