<div class="container-fluid bg-secondary" style="border-radius:15px;">
	<div class="row">
		<div class="col-md-12">
      <br/>
      <h5 class="color">Sitios Amigos</h5>
      <br/>
    </div>

		<div class="col-md-4 site text-center">
			<a href='https://maratonlinuxero.org/' target="_blank">
	      <img
					src="https://maratonlinuxero.org/media/logoMaratonLinuxero.png"
					alt="Maraton Linuxero"
					style="max-height: 32px;"
					class="img-fluid"/>
	    </a>
		</div>
		<div class="col-md-4 site text-center">
			<a href='http://softlibre.com.ar/' target="_blank">
	      <img
					src="https://eventol.flisol.org.ar/media/images_thumbnails/elclubdsl.png.700x450_q85_box-0%2C0%2C240%2C154_crop_detail.png"
					alt="Club del Software Libre"
					style="max-height: 32px;"
					class="img-fluid"/>
	    </a>
		</div>
		<div class="col-md-4 site text-center">
			<a href='https://www.latinlinux.com/' target="_blank">
	      <img
					src="https://www.latinlinux.com/images/logo.png"
					alt="Latin Linux"
					style="max-height: 32px;"
					class="img-fluid"/>
	    </a>
		</div>

		<div class="col-md-12">
			<br />
		</div>
	</div>
</div>
