{{ define "main" }}
  <div class="col-md-8" style="padding-right: 5px; padding-left: 5px;">
    {{- partial "post/lasts.html" . -}}

    <br />
    <br />

    {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
    <div class="container-fluid">
      <div class="row">
        {{ range $paginator.Pages }}

          {{ .Render "card" }}

        {{ end }}
      </div>
    </div>

    {{ partial "pagination.html" $paginator }}
    <br />

  </div>

  <div class="col-md-4" style="padding-right: 5px; padding-left: 5px;">
    {{- partial "widgets/lateralbar.html" . -}}
  </div>
{{ end }}
