{{ define "main" }}
  <div class="col-md-8" style="padding-right: 5px; padding-left: 5px;">
    {{- partial "post/lasts.html" . -}}

    <br />
    <br />

    <div class="container-fluid">
      <div class="row">
        {{- partial "widgets/cardlinux.html" . -}}
        <div class="col-md-12">
          <br />
        </div>
        {{- partial "widgets/cardjuegos.html" . -}}
        <div class="col-md-12">
          <br />
        </div>
        {{- partial "widgets/cardnoticias.html" . -}}
        <div class="col-md-12">
          <br />
        </div>
        {{- partial "widgets/cardapps.html" . -}}
        <div class="col-md-12">
          <br />
        </div>
        {{- partial "widgets/cardseguridad.html" . -}}
        <div class="col-md-12">
          <br />
        </div>
        {{- partial "widgets/cardprogramacion.html" . -}}
        <div class="col-md-12">
          <br />
        </div>
        {{- partial "widgets/cardestilo.html" . -}}

      </div>
    </div>

    <br />

  </div>

  <div class="col-md-4" style="padding-right: 5px; padding-left: 5px;">
    {{- partial "widgets/lateralbar.html" . -}}
  </div>
{{ end }}
