<center class="lat-content d-none d-block-md">
  <a
    href="https://cafecito.app/patojad"
    rel="noopener"
    title="Invitame un Cafecito.APP"
    target="_blank">
    <img
      srcset="https://cdn.cafecito.app/imgs/buttons/button_6.png 1x, https://cdn.cafecito.app/imgs/buttons/button_6_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_6_3.75x.png 3.75x"
      src="https://cdn.cafecito.app/imgs/buttons/button_6.png"
      alt="Invitame un café en cafecito.app"
      title="Invitame un café en cafecito.app" />
  </a>
</center>
