<div class="card d-none d-block-md">
	<div class="card-header">
		<h4 class="card-title text-center">Donar</h4>
	</div>

	<div class="card-content p-2">
    <p class="text-just">Todo lo que realizamos en el softwarelibre (colaboraciones, desarrollos, blogs, etc.) lo realizamos por amor al mismo y no pedimos nada a cambio por nuestros servicios comunitarios.</p>
    <p class="text-just">Sin embargo muchas personas desean colaborar para poder mejorar los mismos y personalmente ofrezco esta opcion aunque aconsejo fuertemente que se done en proyectos mas importantes como KDE y demas...</p>
	</div>

	<div class="card-footer">
			<a href="https://paypal.me/joaquindecima" target="_blank" rel="external" class="flat-button mif-paypal mif-2x"></a>
			<a href="https://www.patreon.com/join/joaquindecima?" target="_blank" rel="external" class="flat-button fa fa-patreon fa-2x"></a>
			<a href="https://ceneka.net/mp/d/PatoJAD" target="_blank" rel="external" class="flat-button fa fa-handshake-o fa-2x"></a>
	</div>

</div>
