<div class="card d-none d-block-md">
	<div class="card-header">
		<h4 class="card-title text-center">Colabora con el Proyecto</h4>
	</div>

	<div class="card-body">
		<center>
			<a
				href="https://paypal.me/joaquindecima"
				target="_blank"
				title="Paypal"
				rel="external"
				class="button primary m-10 col-10 mif-paypal mif-2x">
			</a>
			<a
				href="https://www.patreon.com/join/joaquindecima?"
				target="_blank"
				title="Patreon"
				rel="external"
				class="button primary m-10 col-10 fa fa-patreon fa-2x">
			</a>
			<a
				href="https://ceneka.net/mp/d/PatoJAD"
				target="_blank"
				title="Mercado Pago"
				rel="external"
				class="button primary m-10 col-10 fa fa-handshake-o fa-2x">
			</a>
		</center>
	</div>

</div>
