<div class="card">
	<div class="card-header">
		<h4 class="card-title text-center">Busqueda</h4>
	</div>
	<div class="card-content">

    <div id="search-form" class="field">
      <input
				type="text"
				data-role="input"
				data-search-button="true"
				placeholder="Busqueda"
				id="search-input" />
    </div>
		<br />
		<div id="search-results-box" class="box" style="display: none; overflow-y: scroll;">
      <ul id="search-results-list" class="items-list" style="max-height: 200px;"></ul>
      <div id="search-results-noresults" class="notification is-info">
        No results found.
      </div>

    </div>

  </div>
</div>
