<div class="cell-md-3 cell-sm-6">
  <div class="yt-div">
    <center>
      <div
      class="g-ytsubscribe"
      data-channelid="UCta4Iy4TzMx8Xo0pwpkbWgg"
      data-layout="full"
      data-theme="dark"
      data-count="default">
    </div>
  </center>
  </div>
</div>

<div class="cell-md-3 cell-sm-6">
  <div class="yt-div">
    <center>
      <div
        class="g-ytsubscribe"
        data-channelid="UCWxUfCyAMgs2dZO_oRkQPog"
        data-layout="full"
        data-theme="dark"
        data-count="default">
      </div>
    </center>
  </div>
</div>

<div class="cell-md-3 cell-sm-6">
  <div class="yt-div">
    <center>
      <div
        class="g-ytsubscribe"
        data-channelid="UC7YtNCqgXo4H3khE6qNLk3g"
        data-layout="full"
        data-theme="dark"
        data-count="default">
      </div>
    </center>
  </div>
</div>

<div class="cell-md-3 cell-sm-6">
  <div class="yt-div">
    <center>
      <div
        class="g-ytsubscribe"
        data-channelid="UCl8XUDjAOLc7GNKcDp9Nepg"
        data-layout="full"
        data-theme="dark"
        data-count="default">
      </div>
    </center>
  </div>
</div>

<div class="cell-md-3 cell-sm-6">
  <div class="yt-div">
    <center>
      <div
        class="g-ytsubscribe"
        data-channelid="UC6ImDlcMZukA-pqtIaXqbdA"
        data-layout="full"
        data-theme="dark"
        data-count="default">
      </div>
    </center>
  </div>
</div>
