<style>
  codersrank-activity {
    --preloader-color: #f59e0b;
    --bg-color-4: #f59e0b;
    --bg-color-3: #d97706;
    --bg-color-2: #f59e0b;
    --bg-color-1: #fbbf24;
    --bg-color-0: rgba(127, 127, 127, .1);
    --label-text-color: #f59e0b;
  }
</style>

<div class="bg-gray-100 dark:bg-gray-800 w-full shadow-xl rounded-xl p-8">
  <h2 class="font-bold text-3xl text-amber-500 mb-4">Actividad</h2>
  <codersrank-activity username='joaquindecima' labels legend tooltip branding=false>
  </codersrank-activity>
</div>

<script src="https://unpkg.com/@codersrank/activity@0.9.14/codersrank-activity.min.js"></script>