<style scoped>
  codersrank-work-experience {
    --preloader-color: #f59e0b;
    --item-border-radius: 0.75rem;
    --company-text-color: #f59e0b;
    --tag-star-color: #f59e0b;
    --tag-border-radius: 0.75rem;
  }
</style>


  <div class="bg-gray-100 dark:bg-gray-800 w-full mb-6 shadow-xl rounded-xl p-8">
    <h2 class="font-bold text-3xl text-amber-500 mb-6">Experiencia Laboral</h2>
      <codersrank-work-experience logos="true" branding="false" username='joaquindecima'></codersrank-work-experience>
  </div>

<script src="https://unpkg.com/@codersrank/work-experience@0.9.8/codersrank-work-experience.min.js"></script>