<div class="widget-item bg-dark banner-container">
	<h4 class="widget-title title"><span>Publicidad</span></h4>
	<div class="latest-blog">
    <center>
      <script type="text/javascript">
      	atOptions = {
      		'key' : '4cb7d2dcd2c2f7a96f41fc74e5e563a3',
      		'format' : 'iframe',
      		'height' : 300,
      		'width' : 160,
      		'params' : {}
      	};
      	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/4cb7d2dcd2c2f7a96f41fc74e5e563a3/invoke.js"></scr' + 'ipt>');
      </script>
    </center>
	</div>
</div>
