<div class="col-md-12 text-center" style="margin-top: 30px; margin-bottom: 30px;">
  <h1 class="noticias">Noticias</h1>
  <br />
</div>

{{ range first 3 (where .Data.Pages "Type" "in" (slice "noticias")).ByDate.Reverse }}
  <div class="col-md-4">
    <figure class="featured-thumbnail thumbnail text-center">
      <a href="{{ .RelPermalink }}" title="{{ .Title }}">
        <img src="{{ .Params.img }}" alt="{{ .Title }}" class="img-fluid" />
      </a>
    </figure>

    <h5>
      <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="{{ .Params.type }}">{{ .Title }}</a>
    </h5>

    <p class="excerpt">{{ .Params.description }}</p>

    <a href="{{ .RelPermalink }}" class="btn btn-primary btn-normal {{ .Params.type }}-h" title="{{ .Title }}">
      Seguir leyendo
    </a>
  </div>
{{end}}
