<div class="sidebar-box tags-box mb-30">
  <h4>Categorias</h4>
  <ul>
    <li><a href="/linux/" title="linux"><em class="fa fa-linux" aria-hidden="true"></em></a></li>
    <li><a href="/aplicaciones/" title="aplicaciones"><em class="fa fa-blockstack" aria-hidden="true"></em></a></li>
    <li><a href="/juegos/" title="juegos"><em class="fa fa-gamepad" aria-hidden="true"></em></a></li>
    <li><a href="/noticias/" title="noticias"><em class="fa fa-newspaper-o" aria-hidden="true"></em></a></li>
    <li><a href="/programacion/" title="programacion"><em class="fa fa-code" aria-hidden="true"></em></a></li>
    <li><a href="/estilo/" title="estilo"><em class="fa fa-paint-brush" aria-hidden="true"></em></a></li>
    <li><a href="/cursos/" title="cursos"><em class="fa fa-book" aria-hidden="true"></em></a></li>
    <li><a href="/redesyseguridad/" title="redes ys eguridad"><em class="fa fa-shield" aria-hidden="true"></em></a></li>
    <li><a href="/lacomunidadopina/" title="la comunidad opina"><em class="fa fa-users" aria-hidden="true"></em></a></li>
  </ul>
</div>
