<div class="sidebar-box tags-box mb-30">
  <h4>Categorias</h4>
  <ul>
    <li><a href="/linux/" title="linux"><i class="fa fa-linux" aria-hidden="true"></i></a></li>
    <li><a href="/aplicaciones/" title="aplicaciones"><i class="fa fa-blockstack" aria-hidden="true"></i></a></li>
    <li><a href="/juegos/" title="juegos"><i class="fa fa-gamepad" aria-hidden="true"></i></a></li>
    <li><a href="/noticias/" title="noticias"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
    <li><a href="/programacion/" title="programacion"><i class="fa fa-code" aria-hidden="true"></i></a></li>
    <li><a href="/estilo/" title="estilo"><i class="fa fa-paint-brush" aria-hidden="true"></i></a></li>
    <li><a href="/cursos/" title="cursos"><i class="fa fa-book" aria-hidden="true"></i></a></li>
    <li><a href="/redesyseguridad/" title="redes ys eguridad"><i class="fa fa-shield" aria-hidden="true"></i></a></li>
    <li><a href="/lacomunidadopina/" title="la comunidad opina"><i class="fa fa-users" aria-hidden="true"></i></a></li>
  </ul>
</div>
