<div class="sidebar-box tags-box mb-30">
  <h4>Colabora con el Proyecto</h4>
  <div class="row">
    <div class="col-6 div-donate">
      <a class="col-12 theme-btn donate-btn" href="https://paypal.me/joaquindecima" target="_blank" title="PayPal" alt="PayPal">
        <em class="fa fa-paypal fa-2x" aria-hidden="true"></em>
      </a>
    </div>
    <div class="col-6 div-donate">
      <a class="col-12 theme-btn donate-btn" href="https://www.patreon.com/join/joaquindecima?" target="_blank" title="Patreon" alt="Patreon">
        <em class="fa fa-patreon fa-2x" aria-hidden="true"></em>
      </a>
    </div>
    <div class="col-6 div-donate">
      <a class="col-12 theme-btn donate-btn" href="https://ceneka.net/mp/d/PatoJAD" target="_blank" title="MercadoPago" alt="MercadoPago">
        <em class="fa fa-handshake-o fa-2x" aria-hidden="true"></em>
      </a>
    </div>
    <div class="col-6 div-donate">
      <a class="col-12 theme-btn donate-btn" href="http://buymeacoffee.com/PatoJAD" target="_blank" title="Buyme a Coffee" alt="Buyme a Coffee">
        <em class="fa fa-buymeacoffee fa-2x" aria-hidden="true"></em>
      </a>
    </div>
  </div>
</div>
