<div class="sidebar-box recent-blog-box mb-30">
  <h4>Ultimas publicaciones</h4>
  <div class="recent-blog-items">
    {{ range first 3 .Site.RegularPages.ByDate.Reverse }}
    <div class="recent-blog mb-30">
      <div class="recent-blog-img">
        <img src="{{ .Params.img }}" alt="{{ .Title }}" title="{{ .Title }}">
      </div>
      <div class="recent-blog-content">
        <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
        <span class="date">{{ partial "format/date.html" .Date }}</span>
      </div>
    </div>
    {{ end }}
  </div>
</div>
