<div class="modal fade" id="searchModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div id="search-form" class="field">
          <input
    				type="text"
    				data-role="input"
    				data-search-button="true"
    				placeholder="Busqueda"
            class="search-input"
    				id="search-input" />
        </div>
      </div>
      <div class="modal-body">
        <div id="search-results-box" class="container-fluid box" style="display: none; overflow-y: scroll;">
          <div id="search-results-list" class="row" style="max-height: 500px;"></div>
          <div id="search-results-noresults" class="notification is-info">
            No results found.
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
