.featured-thumbnail {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 5px 20px 10px 0;
}

.thumbnail, .featured-thumbnail {
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.posts-grid li .featured-thumbnail {
  margin: 0 0 13px 0;
}

a {
  outline: none;
}

.featured-thumbnail a {
  position: relative;
  display: block;
}

.posts-grid li .featured-thumbnail a {
  position: relative;
}
