.topbar{
  padding: 0rem 1rem;
  background: var(--pagecolor);
}

.facebook {
  color: #FFFFFF !important;
}

.twitter {
  color: #FFFFFF !important;
}

.youtube {
  color: #FFFFFF !important;
}

.instagram {
  color: #FFFFFF !important;
}

.telegram{
  color: #FFFFFF !important;
}

.mastodon{
  color: #FFFFFF !important;
}

.mewe{
  color: #FFFFFF !important;
}

.facebook:hover {
  color: #3B5998 !important;
}

.twitter:hover {
  color: #55ACEE !important;
}

.youtube:hover {
  color: #BB0000 !important;
}

.instagram:hover {
  color: #D10869 !important;
}

.telegram:hover{
  color: #54A9EB !important;
}

.mastodon:hover{
  color: #2B90D9 !important;
}

.mewe:hover{
  color: #16367C !important;
}
