<div id="cajacookies">
  <p>
    <button onclick="aceptarCookies()" class="pull-right btn btn-primary">
      <i class="fa fa-times"></i> Aceptar y cerrar éste mensaje
    </button>
    Éste sitio web usa cookies, si permanece aquí acepta su uso. Puede leer más sobre el uso de cookies en nuestra <a href="/privacidad/">política de privacidad</a>.
  </p>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>PatoJAD</h2>
        <p>El proyecto PatoJAD desprendió de LatinLinux y busca conformar una comunidad. Donde todos son libres de compartir sus publicaciones y contenidos. La idea principal de la comunidad es generar contenido y dar un espacio para dar a conocer nuestra opinión o proyectos.</p>
      </div>
      <div class="col-md-3">
        <ul class="list-group text-center">
          <a target="_blank" rel="external" rel="external" href="https://rest.patojad.com.ar/">
            <li class="list-group-item">Rest Client</li>
          </a>
          <a target="_blank" rel="external" rel="external" href="https://ytplayer.patojad.com.ar/">
            <li class="list-group-item">YTPlayer</li>
          </a>
          <a target="_blank" rel="external" rel="external" href="https://telegram.patojad.com.ar/">
            <li class="list-group-item">Telegram</li>
          </a>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-group text-center">
          <a target="_blank" rel="external" rel="external" href="https://compartelibre.patojad.com.ar/">
            <li class="list-group-item">Comparte Libre</li>
          </a>
          <a target="_blank" rel="external" rel="external" href="https://pensamientos.patojad.com.ar/">
            <li class="list-group-item">Pensamientos</li>
          </a>
          <a target="_blank" rel="external" rel="external" href="https://mediastodon.patojad.com.ar/">
            <li class="list-group-item">Mediastodon</li>
          </a>
        </ul>
      </div>
      <div class="col-md-12 text-center">
        PatoJAD 2018 - 2020
      </div>
    </div>
  </div>
</footer>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
  integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
  crossorigin="anonymous">
</script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
  integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
  crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
<script
  data-ad-client="ca-pub-2459752565912421"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131446486-2"></script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5S85CVQ');</script>
<!-- End Google Tag Manager -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131446486-2', { 'optimize_id': 'GTM-PMFCS5D'});
</script>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe
    src="https://www.googletagmanager.com/ns.html?id=GTM-5S85CVQ"
    height="0"
    width="0"
    style="display:none;visibility:hidden">
  </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{{- partial "antiadblock.html" . -}}
<script src="https://apis.google.com/js/platform.js"></script>

<script>
  /* ésto comprueba la localStorage si ya tiene la variable guardada */
  function compruebaAceptaCookies() {
    if(localStorage.aceptaCookies == 'true'){
      cajacookies.style.display = 'none';
    }
  }

  /* aquí guardamos la variable de que se ha aceptado el uso de cookies así no mostraremos el mensaje de nuevo */
  function aceptarCookies() {
    localStorage.aceptaCookies = 'true';
    cajacookies.style.display = 'none';
  }

  /* ésto se ejecuta cuando la web está cargada */
  document.addEventListener('DOMContentLoaded', function() {
    compruebaAceptaCookies();
  });
</script>
