<style media="screen">
  header {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F1.bp.blogspot.com%2F-gvnHH8F0xRk%2FU67Y_u0h6EI%2FAAAAAAAANII%2FWZ6rvzmdRv0%2Fs1600%2Frect5399.png&f=1&nofb=1');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 0px 15px 15px;
  }
</style>

<header>
  {{- partial "topbar.html" . -}}
  <div class="container-fluid">
    <div class="header-slot">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            {{- partial "logo.html" . -}}
            <br />
            <br />
          </div>
          <div class="col-md-8"></div>
        </div>
      </div>
    </div>
    {{- partial "menu.html" . -}}
  </div>
</header>
