<style media="screen">
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('{{ if isset .Params "img" }} {{ .Params.img }} {{else}} https://opensource.com/sites/default/files/uploads/linux-toy-cmatrix-animated.gif {{ end }}');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>

<header>
  {{- partial "topbar.html" . -}}
  <div class="container-fluid">
    <div class="header-slot">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            {{- partial "logo.html" . -}}
          </div>
          <div class="col-md-8">



          </div>
        </div>
      </div>
    </div>
    {{- partial "menu.html" . -}}
  </div>
</header>
