<title>
  {{ $isHomePage := eq .Title .Site.Title }}{{ .Title }} {{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}
</title>


<!-- META DATA -->
<meta charset="utf-8" />
<meta
  content='width=device-width, initial-scale=1, maximum-scale=1'
  name='viewport' />
<meta
  http-equiv="Content-Type"
  content="text/html; charset=utf-8" />
<meta name=”robots” content="index, follow">
<meta content='{{ range .Params.tags }} {{.}}, {{ end }} linux, juegos, software, libre, tecnologia, blog, noticias, actualidad, programacion, hacking, seguridad' name='keywords' />
<meta name="author" content="PatoJAD" />
<meta
  name="description"
  content="{{ .Params.description }} . PatoJAD es un Blog sobre GNU/Linux y software libre en general creado por un linuxnauta y mantenido en si por la propia comunidad que colabora dia a dia de diversas formas"
  property="og:description" />
<meta content='@PatoJADOficial' name='twitter:site'/>
<meta content='@PatoJADOficial' name='twitter:creator'/>
<meta property="og:url" content="https://patojad.com.ar{{ .RelPermalink }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:image" content="{{ .Params.img }}" />
<meta property="og:locale" content="es-ES" />
<meta property="fb:pages" content="268937743974375" />

<!-- Google Search Meta -->
<meta
  name="google-site-verification"
  content="AB62lAN6bYFzpeZoN7yIodQqshuK3E4R7qQYEsq8T4Y" />

<!-- Bing Meta Data -->
<meta name="msvalidate.01" content="8A4FD3C15526528D48C910421066EC92" />

<!-- CANONICAL LINK -->
<link rel="canonical" href="https://patojad.com.ar{{ .RelPermalink }}"/>

<!-- RSS -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<!-- Favicon -->
<link rel="icon" type="image/png" href='{{ "img/perfil.jpg" | absURL }}' />

<!-- CSS -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
  crossorigin="anonymous" />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css"
  integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY="
  crossorigin="anonymous" />
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css"/>
<link rel="stylesheet" href="/css/topbar.css"/>
<link rel="stylesheet" href="/css/categorys.css"/>
<link rel="stylesheet" href="/css/cookies.css"/>
