<nav
  class="navbar navbar-expand-lg transparent"
  style="margin-right: -15px; margin-left: -15px; border-radius: 0px 0px 15px 15px;">

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fa fa-bars color" aria-hidden="true"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item"><a class="nav-link text-center" href="/">
        &nbsp; <i class="fa fa-home" aria-hidden="true"></i><span style="font-size: 18px;"> &nbsp; Inicio &nbsp; </span></a>
      </li>
      <li class="nav-item"><a class="nav-link text-center" href="https://joaquindecima.gitlab.io/" target="_blank">
        &nbsp; <i class="fa fa-user" aria-hidden="true"></i><span style="font-size: 18px;"> &nbsp; Sobre Mi &nbsp; </span></a>
      </li>
      <li class="nav-item"><a class="nav-link text-center" href="/sobremi/">
        &nbsp; <i class="fa fa-comments" aria-hidden="true"></i><span style="font-size: 18px;"> &nbsp; Sobre PatoJAD &nbsp; </span></a>
      </li>
      <li class="nav-item"><a class="nav-link text-center" href="/authors/">
        &nbsp; <i class="fa fa-users" aria-hidden="true"></i><span style="font-size: 18px;"> &nbsp; Colaboradores &nbsp; </span></a>
      </li>
      <li class="nav-item"><a class="nav-link text-center" href="/agradecimientos/">
        &nbsp; <i class="fa fa-heart" aria-hidden="true"></i><span style="font-size: 18px;"> &nbsp; Agradecimientos &nbsp; </span></a>
      </li>
    </ul>
  </div>

</nav>
