{{ if gt .TotalPages 1 }}
  <div class="col-lg-12 col-md-12">
    <br /> <br />
    <center>
      <ul class="pagination pagination-lg justify-content-center">
        {{ if .HasPrev }}
          <li class="page-item">
            <a class="page-link" href="{{ .Prev.URL }}">&laquo; Anterior</a>
          </li>
        {{ end }}

        {{ if .HasNext }}
          <li class="page-item">
            <a class="page-link" href="{{ .Next.URL }}">Siguiente &raquo;</a>
          </li>
        {{ end }}
      </ul>
    </center>
  </div>
{{ end }}
