<div class="container-fluid">
  <div class="row">

    <div class="col-md-6 newstop2">
      {{ range first 1 (where .Data.Pages "Type" "in" (slice "juegos" "redesyseguridad" "comunidad" "linux" "programacion" "noticias" "estilo" "aplicaciones")).ByDate.Reverse }}
        <div class="col-md-12 text-center">
          <figure class="featured-thumbnail thumbnail text-center">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
              <img src="{{ .Params.img }}" alt="{{ .Title }}" class="img-fluid" />
            </a>
          </figure>

          <h5>
            <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="{{ .Params.type }}">{{ .Title }}</a>
          </h5>

          <p class="excerpt">{{ .Params.description }}</p>

          <a href="{{ .RelPermalink }}" class="btn btn-primary btn-normal c-{{ .Params.type }} text-white" title="{{ .Title }}">
            Seguir leyendo
          </a>
        </div>
      {{ end }}
    </div>

    <div class="col-md-6 newstop">

      <div class="container-fluid">
        <div class="row">

          {{ range first 2 (after 1 (where .Data.Pages "Type" "in" (slice "juegos" "redesyseguridad" "comunidad" "linux" "programacion" "noticias" "estilo" "aplicaciones")).ByDate.Reverse) }}

            <div class="col-md-6">
              <h5>
                <a href="{{ .RelPermalink }}" title="{{ .Title }}" class="{{ .Params.type }}">{{ .Title }}</a>
              </h5>

              <p class="excerpt">{{ .Params.description }}</p>

              <a href="{{ .RelPermalink }}" class="btn btn-primary btn-normal c-{{ .Params.type }} text-white" title="{{ .Title }}">
                Seguir leyendo
              </a>
            </div>

            <div class="col-md-6">
              <figure class="featured-thumbnail thumbnail text-center">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                  <img src="{{ .Params.img }}" alt="{{ .Title }}" class="img-fluid" />
                </a>
              </figure>
            </div>

            <div class="col-md-12">
              <br/>
              <br/>
            </div>

          {{ end }}

        </div>
      </div>

    </div>

  </div>
</div>
