<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 newstop" style="border-bottom: 3px var(--noticias) solid;">
  		<h2 style="margin-bottom: 0rem;"><span style="background: var(--noticias); padding: 0px 15px;">Noticias</span></h2>
    </div>
    <div class="col-md-12">
      <br>
    </div>
    {{ range first 3 (where .Data.Pages "Type" "in" (slice "noticias" )).ByDate.Reverse }}
      <div class="col-md-4">
        <a href="{{ .RelPermalink }}">
          <div class="card">
            <img src="{{ .Params.img }}" class="card-img-top"/>
            <div class="card-body">
              <h3 class="card-title {{ .Params.type }}">{{ .Title }}</h3>
              <p class="minitext">{{ .Params.description }}</p>
            </div>
          </div>
        </a>
      </div>
    {{ end }}


  </div>
</div>
