<div class="container-fluid">
  <div class="row">

    <div class="col-md-12 newstop2" style="border-bottom: 3px var(--programacion) solid;">
  		<h2 style="margin-bottom: 0rem;"><span style="background: var(--programacion); padding: 0px 15px;">Programacion</span></h2>
    </div>
    <div class="col-md-12">
      <br>
    </div>
    <div class="col-md-12">
      {{ range first 3 (where .Data.Pages "Type" "in" (slice "programacion")).ByDate.Reverse }}
        <a href="{{ .RelPermalink }}">
          <div style=" width: 100%;	background: url({{ .Params.img }}) no-repeat center top; background-size: cover;">
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="transparent info">
              <h3 class="{{ .Params.type }}">{{ .Title }}</h3>
              <p class="minitext">{{ .Params.description }}</p>
            </div>
          </div>
        </a>
        {{ end }}
    </div>
  </div>
</div>
