{{ define "main" }}
<h1 style="display: none;">PatoJAD - Sitio Web Oficial</h1>
{{ partial "headers/home.html" . }}
<div class="flex flex-col justify-center items-center px-12 py-22">
  <section id="work" class="w-full py-12 mt-6">
    {{ partial "components/codersrank/work.html" . }}
  </section>
  <section id="technologies" class="w-full py-12">
    {{ partial "components/widgets/technologies.html" . }}
  </section>
  {{ partial "components/widgets/lastposts.html" . }}
  {{ partial "components/widgets/friendssites.html" . }}
</div>

{{ end }}