<script>

	const colorSchemeKey = 'StackColorScheme';

	if (!localStorage.getItem(colorSchemeKey)) {
		localStorage.setItem(colorSchemeKey, 'dark');
	}

	const changeScheme = () => {
		const colorSchemeItem = localStorage.getItem(colorSchemeKey);

		if (colorSchemeItem === 'dark') {
			localStorage.setItem(colorSchemeKey, 'light');
		} else {
			localStorage.setItem(colorSchemeKey, 'dark');
		}

		setScheme();
	};

	const setScheme = () => {
		const colorSchemeItem = localStorage.getItem(colorSchemeKey);
		const supportDarkMode =
			window.matchMedia('(prefers-color-scheme: dark)').matches === true;

		if (
			colorSchemeItem == 'dark' ||
			(colorSchemeItem === 'auto' && supportDarkMode)
		) {
			/**
			 * Enable dark mode if:
			 * 1. If dark mode is set already (in local storage)
			 * 2. Auto mode & prefere color scheme is dark
			 */
			document.documentElement.classList.add('dark');
			document.getElementById('dark-mode-toggle').innerHTML = '<em class="fas fa-sun"></em>';
		} else {
			document.documentElement.classList.remove('dark');
			document.getElementById('dark-mode-toggle').innerHTML = '<em class="fas fa-moon"></em>';
		}
	};

	setScheme();
</script>