<section class="hero-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="hero-content-wrapper">
          <h1 class="mb-25 wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
            {{ .Scratch.Get "title" }}
          </h1>
          <p class="mb-35 wow fadeInLeft" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
            {{ .Scratch.Get "description" }}
          </p>
        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <div class="hero-img">
          <div class="d-inline-block hero-img-right">
            <img
              src='{{ .Scratch.Get "image" }}'
              alt=""
              class="image wow fadeInRight"
              data-wow-delay=".5s"
              style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
