<section id="service" class="service-section pt-130 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
        <div class="section-title text-center mb-55">
          <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
            Que Ofrecermos...
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
            Como comunidad nos esforzamos por ofrecer lo mejor para todos nuestros miembros y siempre trabajamos juntos por esto.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="service-box box-style">
          <div class="service-icon box-icon-style">
            <em class="fa fa-telegram" aria-hidden="true"></em>
          </div>
          <div class="box-content-style service-content">
            <h4>Telegram</h4>
            <p>Disponemos de un grupo de Telegram donde hablamos todos los días de temas varios y tecnología.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box box-style">
          <div class="service-icon box-icon-style">
            <em class="fa fa-discord-alt" aria-hidden="true"></em>
          </div>
          <div class="box-content-style service-content">
            <h4>Jugamos</h4>
            <p>Nos juntamos los fines de semana a jugar y reirnos un poco todos juntos como comunidad.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="service-box box-style">
          <div class="service-icon box-icon-style">
            <em class="fa fa-youtube" aria-hidden="true"></em>
          </div>
          <div class="box-content-style service-content">
            <h4>Youtube</h4>
            <p>Tenemos contenido multimedia sobre Linux y Tecnología en general. Todos están invitados a participar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
