<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body data-role="touch" data-excluded-elements=".input, pre, code">
      <div id="contenedor_carga">
        <div id="carga">
          <div id="cargando" data-role="activity" data-type="atom" data-style="color"></div>
        </div>
      </div>
        {{- partial "sidebar.html" . -}}
        <div class="shifted-content h-100 p-ab">
          {{- partial "header.html" . -}}
          <div id="content" class="container-fluid">
            <div class="row">
              <div class="cell-md-12 navcover"></div>
              <div class="cell-md-4">
                {{- partial "widgets/lateralbar.html" . -}}
              </div>
              <div class="cell-md-8">
                {{- block "main" . }}{{- end }}
              </div>
            </div>
          </div>
          {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
