

<div class="cell-md-6 d-flex align-self-stretch">

  <div class="card">
    <div class="card-header {{.Params.type}}-border">
      <div class="row">
        <div class="col-10">
          {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
          {{ range .Params.authors }}
            {{ range where (where $pages "Type" "authors") ".Params.name" . }}
              <div class="avatar">
                  <img src="{{ .Params.img }}" />
              </div>
              <div class="name">{{ .Params.name }}</div>
            {{ end }}
          {{ end }}
          <div class="date">
            {{ $formattedDate := .Date.Format "Friday, March 3, 2006" }}

            {{ $monthNumber := .Date.Month }}
            {{ $dayNumber := .Date.Weekday }}

            {{ if eq site.Language.Lang "es" }}
              {{ $monthNumber = index site.Data.meses (printf "%d" .Date.Month) }}
              {{ $dayNumber = index site.Data.dias (printf "%d" .Date.Weekday) }}
              {{ $formattedDate = delimit (slice $dayNumber (printf "%d" .Date.Day) "de" $monthNumber "de" (printf "%d" .Date.Year)) " "}}
            {{ end }}

            {{ $formattedDate }}
          </div>
        </div>
        <div class="col-2">
          {{- partial "format/icons.html" .Params.type -}}
        </div>
      </div>
    </div>
    <div class="card-content p-2">
        <h5 class="text-center {{.Params.type}}-ico">{{ .Title }}</h5>
        <p class="text-just">{{ .Params.description }}</p>
    </div>
    <div class="card-content">
        <img src="{{ .Params.img }}" style="width: 100%">
    </div>
    <div class="card-footer align-bottom">
        <a href="{{ .RelPermalink }}" class="flat-button mif-enter mif-2x {{.Params.type}}-ico"></a>
        <a href="{{ .RelPermalink }}#comments" class="flat-button mif-comment mif-2x {{.Params.type}}-ico"></a>
        <a href="{{ .RelPermalink }}#share" class="flat-button mif-share mif-2x {{.Params.type}}-ico"></a>
    </div>
  </div>

</div>
