<style>
  .embla {
    overflow: hidden;
  }
  .embla__slide {
    flex: 0 0 auto;
    width: 100%;
    padding: 0 1rem;
  }
</style>

<div class="w-full mb-4">
  <div class="flex items-center">
    <h3 class="text-3xl text-fuchsia-700 font-bold mb-4 p-4">Sitios Amigos </h3>
    <hr class="w-full h-1 rounded-xl bg-fuchsia-700">
  </div>
  {{ $items := .Site.Params.friendsSite.main }}
  <div class="grid grid-cols-2 sm:grid-cols-6 md:grid-cols-10  justify-center items-center content-center gap-4">
        {{ range $i, $d := $items }}
        <div class="background rounded-xl transition-all duration-300 ease-in-out hover:-translate-y-1 hover:scale-[1.03]">
          <a href="{{ $d.url }}" alt="{{ $d.name }}" aria-label="{{ $d.name }}" class="flex items-center justify-center p-4">
            <img src="{{ $d.image }}" alt="{{ $d.name }}" loading="lazy" decoding="async" title="{{ $d.name }}" class="h-full w-full max-w-full object-contain" />
          </a>
        </div>
        {{ end }}

  </div>
</div>