<div class="background p-3 rounded-t-xl w-28 m-auto text-center font-bold">Comparte</div>
<div class="social-share flex flex-wrap background p-3 rounded-xl justify-evenly">
  <!-- Facebook -->
  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" style="--brand: #1877F2;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-facebook text-2xl"></em>
  </a>

  <!-- Twitter -->
  <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener" style="--brand: #1DA1F2;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-twitter text-2xl"></em>
  </a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener" style="--brand: #0A66C2;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-linkedin text-2xl"></em>
  </a>

  <!-- WhatsApp -->
  <a href="https://wa.me/?text={{ .Title }}%20{{ .Permalink }}" target="_blank" rel="noopener" style="--brand: #25D366;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-whatsapp text-2xl"></em>
  </a>

  <!-- Telegram -->
  <a href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener" style="--brand: #0088cc;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-telegram text-2xl"></em>
  </a>

  <!-- Email -->
  <a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" target="_blank" rel="noopener" style="--brand: #6b7280;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fas fa-envelope text-2xl"></em>
  </a>

  <!-- Reddit -->
  <a href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener" style="--brand: #FF4500;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-reddit text-2xl"></em>
  </a>

  <!-- Pinterest -->
  <a href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.image }}&description={{ .Title }}" target="_blank" rel="noopener" style="--brand: #E60023;"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-xl border-gray-100 dark:border-gray-800">
    <em class="fab fa-pinterest text-2xl"></em>
  </a>
</div>