<div class="bg-gray-200 dark:bg-gray-900 p-3 rounded-t-xl w-28 m-auto text-center font-bold">Comparte</div>
<div class="flex flex-wrap bg-gray-200 dark:bg-gray-900 p-3 rounded-xl justify-evenly">
  <a href="http://www.facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-facebook text-2xl"></em>
  </a>
  <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-twitter text-2xl"></em>
  </a>
  <a href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-linkedin text-2xl"></em>
  </a>
  <a href="https://wa.me/?text={{ .Title }}%20{{ .Permalink }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-whatsapp text-2xl"></em>
  </a>
  <a href="https://t.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-telegram text-2xl"></em>
  </a>
  <a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fas fa-envelope text-2xl"></em>
  </a>
  <a href="https://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-reddit text-2xl"></em>
  </a>
  <a href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink }}&media={{ .Params.image }}&description={{ .Title }}"
    target="_blank" rel="noopener"
    class="border-2 duration-200 ease inline-flex items-center mb-1 mr-1 transition p-3 rounded-full border-gray-100 dark:border-gray-800 hover:bg-gray-100 hover:dark:bg-gray-800">
    <em class="fab fa-pinterest text-2xl"></em>
  </a>
</div>