{{- $limit := default 12 .Params.limit -}}
<div class="w-full mb-4">
	<div class="flex items-center">
		<h3 class="text-3xl text-fuchsia-700 font-bold mb-4 p-4">
			Tags Populares
		</h3>
		<hr class="w-full h-1 rounded-xl bg-fuchsia-700">
	</div>

		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2">
			{{ range first $limit .Site.Taxonomies.tags.ByCount }}
				<a href="{{ .Page.RelPermalink }}" class="flex items-center justify-between background rounded-xl px-4 h-12 transition-all duration-200 ease-in-out hover:bg-fuchsia-700 hover:-translate-y-0.5 hover:scale-[1.01]">
					<span class="truncate">{{ .Page.Title }}</span>
					<span class="inline-flex items-center justify-center background p-1 rounded-xl text-white text-xs font-medium w-7 h-7 ml-3">{{ .Count }}</span>
				</a>
			{{ end }}
		</div>
</div>