{{- $limit := default 12 .Params.limit -}}
<div class="bg-gray-100 dark:bg-gray-800 w-full mb-6 shadow-xl rounded-xl p-8">
	<h3 class="font-bold text-2xl text-amber-500 mb-6">Tags Populares</h3>
	<div class="flex flex-wrap justify-center items-center">
		{{ range first $limit .Site.Taxonomies.tags.ByCount }}
		<a class="position-relative rounded-full bg-gray-200 dark:bg-gray-900 p-5 me-2 mb-4 relative hover:bg-amber-500 p-4 text-center" href="{{ .Page.RelPermalink }}">
			{{ .Page.Title }}
			<span class="inline-flex items-center rounded-full bg-amber-400 px-2 py-1 text-xs font-medium text-white ring-1 ring-inset ring-amber-500/10 absolute -top-2 -right-2 opacity-70">
				{{ .Count }}
			</span>
		</a>
		{{ end }}
	</div>
</div>