<footer class="footer">
  <div class="content-fluid">
    <div class="row">
      <div class="cell-md-6">
        <h2>PatoJAD</h2>
        <p class="text-just">El proyecto PatoJAD desprendió de LatinLinux y busca conformar una comunidad. Donde todos son libres de compartir sus publicaciones y contenidos. La idea principal de la comunidad es generar contenido y dar un espacio para dar a conocer nuestra opinión o proyectos.</p>
        <br />
        <br />
        <center>
          <script
            type="text/javascript"
            src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
            data-name="bmc-button"
            data-slug="PatoJAD"
            data-color="#FFDD00"
            data-emoji="🍺"
            data-font="Cookie"
            data-text="Buy me a beer"
            data-outline-color="#000000"
            data-font-color="#000000"
            data-coffee-color="#ffffff" >
          </script>
        </center>
      </div>
      <div class="cell-md-3">
        <ul class="items-list">
          <li>
            <a href="https://rest.patojad.com.ar/" title="Rest API" target="_blank">
              <span class="label">Rest Client</span>
              <span class="second-label">Cliente Web para APIs</span>
              <span class="second-action mif-file-code fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://ytplayer.patojad.com.ar/" title="YTPlayer" target="_blank">
              <span class="label">YTPlayer</span>
              <span class="second-label">Cliente Youtube para Musica</span>
              <span class="second-action mif-youtube2 fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://telegram.patojad.com.ar/" title="Telegram Instancia" target="_blank">
              <span class="label">Telegram</span>
              <span class="second-label">Cliente Web de Telegram</span>
              <span class="second-action fa fa-telegram fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://jugamos.patojad.com.ar/" title="Countdown" target="_blank">
              <span class="label">Jugamos</span>
              <span class="second-label">Timer de espera</span>
              <span class="second-action mif-gamepad fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://live.patojad.com.ar/" title="Lives de PatoJAD" target="_blank">
              <span class="label">Live</span>
              <span class="second-label">Streams Lives</span>
              <span class="second-action mif-twitch fg-pjad"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cell-md-3">
        <ul class="items-list">
          <li>
            <a href="https://compartelibre.patojad.com.ar/" title="Comparte Libre" target="_blank">
              <span class="label">Comparte Libre</span>
              <span class="second-label">Comparte en Redes Libres</span>
              <span class="second-action mif-share fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://pensamientos.patojad.com.ar/" title="Blog Instrospectivo" target="_blank">
              <span class="label">Pensamientos</span>
              <span class="second-label">Blog introspectivo</span>
              <span class="second-action mif-heart fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://mediastodon.patojad.com.ar/" title="Mediastodon" target="_blank">
              <span class="label">Mediastodon</span>
              <span class="second-label">Multimedia en Mastodon</span>
              <span class="second-action fa fa-mastodon fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://streamtools.patojad.com.ar/" title="Stream Tools" target="_blank">
              <span class="label">Stream Tools</span>
              <span class="second-label">Herramientas para Stram</span>
              <span class="second-action mif-tools fg-pjad"></span>
            </a>
          </li>
          <li>
            <a href="https://qrgenerator.lynx.net.ar/" title="QR Generator" target="_blank">
              <span class="label">QR Generator</span>
              <span class="second-label">QR Personalizados (Lynx)</span>
              <span class="second-action fa fa-qrcode fg-pjad"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="cell-12 footend text-center">
        PatoJAD Community - Una comunidad unida.
        <div class="text-center">
          <a href="https://t.me/PatoJADCommunity" title="Telegram" target="_blank" rel="external" class="button telegram social-l">
            <i class="fa fa-telegram" aria-hidden="true"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCta4Iy4TzMx8Xo0pwpkbWgg" title="Youtube" target="_blank" rel="external" class="button youtube">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
          <a href="https://t.me/PatoJADBlog" target="_blank" title="Telegram Canal" rel="external" class="button telegram">
            <i class="fa fa-bullhorn" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/patojadoficial/" target="_blank" title="Instagram" rel="external" class="button instagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="https://mastodon.social/@PatoJAD" rel="me" target="_blank" title="Mastodon" class="button mastodon">
            <i class="fa fa-mastodon" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/PatoJADOficial" target="_blank" title="Twitter" rel="external" class="button twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://facebook.com/PatoJAD/" target="_blank" title="Facebook" rel="external" class="button facebook">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
          <a href="https://lbry.tv/@PatoJAD:d" target="_blank" title="lbry" rel="external" class="button lbry">
            <i class="fa fa-video-camera" aria-hidden="true"></i>
          </a>
          <a href="https://steamcommunity.com/id/joaquindecima/" title="Steam" target="_blank" rel="external" class="button steam">
            <i class="fa fa-steam" aria-hidden="true"></i>
          </a>
          <a href="https://discord.gg/n8XtgN3" target="_blank" title="Discord" rel="external" class="button discord">
            <i class="fa fa-discord-alt" aria-hidden="true"></i>
          </a>
          <a href="https://www.twitch.tv/patojad" target="_blank" title="Twitch" rel="external" class="button twitch">
            <i class="fa fa-twitch" aria-hidden="true"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</footer>

<script
  src="https://cdn.metroui.org.ua/v4/js/metro.min.js">
</script>

<!-- Revisar posterior -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
<script src="/js/switchtheme.js"></script>
<script
  data-ad-client="ca-pub-2459752565912421"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131446486-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131446486-2');
</script>


<script src="https://apis.google.com/js/platform.js"></script>
