<!--<div class="bottom-nav">
  <button class="button">
    <span class="icon mif-plus"></span>
    <span class="label">Add</span>
  </button>
  <button class="button">
    <span class="icon mif-favorite"></span>
    <span class="label">Favorites</span>
  </button>
  <button class="button">
    <span class="icon mif-search"></span>
    <span class="label">Search</span>
  </button>
</div>-->

<footer class="footer">
  <div class="content-fluid">
    <div class="row">
      <div class="cell-md-6">
        <h2>PatoJAD</h2>
        <p>El proyecto PatoJAD desprendió de LatinLinux y busca conformar una comunidad. Donde todos son libres de compartir sus publicaciones y contenidos. La idea principal de la comunidad es generar contenido y dar un espacio para dar a conocer nuestra opinión o proyectos.</p>
      </div>
      <div class="cell-md-3">

      </div>
      <div class="cell-md-3">

      </div>
      <div class="cell-12 text-center footend">
        PatoJAD 2018 - 2021
      </div>
    </div>
  </div>
</footer>

<script
  src="https://cdn.metroui.org.ua/v4/js/metro.min.js">
</script>

<!-- Revisar posterior -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
<script
  data-ad-client="ca-pub-2459752565912421"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131446486-2"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131446486-2', { 'optimize_id': 'GTM-PMFCS5D'});
</script>

<script src="https://apis.google.com/js/platform.js"></script>
