
<script
  src="https://cdn.metroui.org.ua/v4/js/metro.min.js">
</script>

<!-- Revisar posterior -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.5/fuse.min.js">
</script>
<script src="/js/search.js"></script>
<script
  data-ad-client="ca-pub-2459752565912421"
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131446486-2"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131446486-2', { 'optimize_id': 'GTM-PMFCS5D'});
</script>

<script src="https://apis.google.com/js/platform.js"></script>
