<aside
  class="sidebar"
  data-role="sidebar"
  data-toggle="#sidebar-toggle"
  id="sb3"
  data-shift=".shifted-content">

  <div class="sidebar-header" data-image="images/sb-bg-1.jpg">
    <div class="avatar">
      <img src="https://i.postimg.cc/NMXVKvLD/Rec-1.gif" />
    </div>
    <span class="title fg-white">PatoJAD Community</span>
    <span class="subtitle fg-white"> Una comunidad creada por los usuarios para los usuarios</span>
  </div>

  <ul class="sidebar-menu">
      <li><a href="/linux/">
          <span class="mif-tux icon linux-ico"></span>
          <span class="title">GNU/Linux</span>
      </a></li>
      <li><a href="/aplicaciones/">
          <span class="mif-apps icon aplicaciones-ico"></span>
          <span class="title">Aplicaciones</span>
      </a></li>
      <li><a href="/juegos/">
          <span class="mif-gamepad icon juegos-ico"></span>
          <span class="title">Aplicaciones</span>
      </a></li>
      <li><a href="/noticias/">
          <span class="mif-news icon noticias-ico"></span>
          <span class="title">Noticias</span>
      </a></li>
      <li><a href="/programacion/">
          <span class="mif-file-code icon programacion-ico"></span>
          <span class="title">Programacion</span>
      </a></li>
      <li><a href="/estilo/">
          <span class="mif-eye icon estilo-ico"></span>
          <span class="title">Estilo</span>
      </a></li>
      <li><a href="/cursos/">
          <span class="mif-books icon cursos-ico"></span>
          <span class="title">Cursos</span>
      </a></li>
      <li><a href="/redesyseguridad/">
          <span class="mif-security icon redesyseguridad-ico"></span>
          <span class="title">Seguridad</span>
      </a></li>
      <li><a href="/lacomunidadopina/">
          <span class="mif-users icon comunidad-ico"></span>
          <span class="title">Comunidad</span>
      </a></li>
  </ul>
</aside>
