{{ define "main" }}

  {{- partial "headhome/headhome.html" . -}}
  {{- partial "lastnew/lastnew.html" . -}}

  <style media="screen">
    :root{
      --pagecolor: var(--{{ .Params.type }});
    }
    .{{ .Params.type }}{
      background: var(--{{ .Params.type }}) !important;
    	border: 1px solid var(--{{ .Params.type }}) !important;
    }
  </style>

  <section class="page-section recent-game-page spad tournaments-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <!-- Publicidad -->
          <div id="42927-1">
            <script src="//ads.themoneytizer.com/s/gen.js?type=1"></script>
            <script src="//ads.themoneytizer.com/s/requestform.js?siteId=42927&formatId=1"></script>
          </div>
          <!-- Publicidad END -->
          <br />
          <div class="row">

            {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
            {{ range $paginator.Pages }}

              {{ .Render "card" }}

            {{ end }}

            <br />
            <!-- Publicidad -->
            <div id="42927-28">
              <script src="//ads.themoneytizer.com/s/gen.js?type=28"></script>
              <script src="//ads.themoneytizer.com/s/requestform.js?siteId=42927&formatId=28"></script>
            </div>
            <!-- Publicidad END -->
            <br />

            {{ partial "pagination.html" $paginator }}
          </div>
        </div>
        <div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
          {{- partial "widgets/lateralbar.html" . -}}
        </div>
    </div>
  </div>
{{ end }}
