{{ define "main" }}

  {{- partial "headhome/headhome.html" . -}}
  {{- partial "lastnew/lastnew.html" . -}}

  <section class="page-section recent-game-page spad tournaments-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
            {{ range $paginator.Pages }}

              {{ .Render "card" }}

            {{ end }}
            {{ partial "pagination.html" $paginator }}
          </div>
        </div>
        <div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
          {{- partial "widgets/lateralbar.html" . -}}
        </div>
    </div>
  </div>
{{ end }}
