{{ define "main" }}

  {{- partial "headhome/headhome.html" . -}}
  {{- partial "lastnew/lastnew.html" . -}}

  <style media="screen">
    :root{
      --pagecolor: var(--{{ .Params.type }});
    }
    .{{ .Params.type }}{
      background: var(--{{ .Params.type }}) !important;
    	border: 1px solid var(--{{ .Params.type }}) !important;
    }
  </style>

  <section class="page-section recent-game-page spad tournaments-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <center><script type="text/javascript">
            	atOptions = {
            		'key' : '435a44887e985c81f05c444f14796044',
            		'format' : 'iframe',
            		'height' : 50,
            		'width' : 320,
            		'params' : {}
            	};
            	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.bcloudhost.com/435a44887e985c81f05c444f14796044/invoke.js"></scr' + 'ipt>');
            </script></center>
            <br />
            {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
            {{ range $paginator.Pages }}

              {{ .Render "card" }}

            {{ end }}

            <br />
            <center><script async="async" data-cfasync="false" src="//padsbrown.com/caa7d9755df082f4aa222c8e64d5e811/invoke.js"></script>
            <div id="container-caa7d9755df082f4aa222c8e64d5e811"></div></center>
            <br />

            {{ partial "pagination.html" $paginator }}
          </div>
        </div>
        <div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
          {{- partial "widgets/lateralbar.html" . -}}
        </div>
    </div>
  </div>
{{ end }}
