{{ define "main" }}
  <style media="screen">
    :root{
      --pagecolor: var(--{{ .Params.type }});
    }
    .{{ .Params.type }}{
      background: var(--{{ .Params.type }}) !important;
    	border: 1px solid var(--{{ .Params.type }}) !important;
    }
  </style>
  <section class="page-info-section set-bg" data-setbg="{{ .Params.img }}">
		<div class="pi-content">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-6 text-white banner-container bg-dark">
						<h2>{{ .Title }}</h2>
						<p>{{ .Params.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

  <section class="page-section single-blog-page spad tournaments-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-content bg-dark banner-container">
            <!-- Publicidad -->
            <div id="42928-1">
              <script src="//ads.themoneytizer.com/s/gen.js?type=1"></script>
              <script src="//ads.themoneytizer.com/s/requestform.js?siteId=42928&formatId=1"></script>
            </div>
            <!-- Publicidad FIN-->
            <br />
            {{ .Content }}
            <br />
            <!-- Publicidad -->
            <div id="42928-28">
              <script src="//ads.themoneytizer.com/s/gen.js?type=28"></script>
              <script src="//ads.themoneytizer.com/s/requestform.js?siteId=42928&formatId=28"></script>
            </div>
            <!-- Publicidad FIN -->
          </div>
          <br />
					<div class="comment-warp bg-dark banner-container">
						<h4 class="comment-title title">Compartir</h4>
            <center>
              <a href="https://compartelibre.patojad.tk/?url=https://patojad.tk{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#2b90d9;">
                <i class="fa fa-mastodon" aria-hidden="true"></i>
              </a>

              <a href="https://compartelibre.patojad.tk/?url=https://patojad.tk{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#222222;">
                <i class="fa fa-diaspora" aria-hidden="true"></i>
              </a>

              <a href="https://compartelibre.patojad.tk/?url=https://patojad.tk{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#a22430;">
                <i class="fa fa-gnu-social" aria-hidden="true" style="font: normal normal normal 20px/1 ForkAwesome;"></i>
              </a>

              <a href="https://compartelibre.patojad.tk/?url=https://patojad.tk{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#43488a;">
                <i class="fa fa-hubzilla" aria-hidden="true" style="font: normal normal normal 20px/1 ForkAwesome;"></i>
              </a>

              <a href="http://www.digg.com/submit?url=https://patojad.tk/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#0277bd;">
                <i class="fa fa-digg" aria-hidden="true"></i>
              </a>

              <a href="http://vkontakte.ru/share.php?url=https://patojad.tk/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#4680c2;">
                <i class="fa fa-vk" aria-hidden="true"></i>
              </a>

              <a href="https://twitter.com/share?url=https://patojad.tk/{{ .RelPermalink }}&text={{ .Title }}&hashtags=PatoJAD" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#1DA1F2;">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>

              <a href="http://www.stumbleupon.com/submit?url=https://patojad.tk/{{ .RelPermalink }}&title={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color: #EB4823;">
                <i class="fa fa-stumbleupon" aria-hidden="true"></i>
              </a>

              <a href="http://www.facebook.com/sharer.php?u=https://patojad.tk/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#3C5A99;">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>

              <a href="http://reddit.com/submit?url=https://patojad.tk/{{ .RelPermalink }}&title={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#ff4301;">
                <i class="fa fa-reddit-alien" aria-hidden="true"></i>
              </a>

              <a href="https://telegram.me/share/url?text={{ .Title }}&url=https://patojad.tk/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#54a9eb;">
                <i class="fa fa-telegram" aria-hidden="true"></i>
              </a>
            </center>
					</div>
          <br />
					<div class="comment-warp bg-dark banner-container">
						<h4 class="comment-title title">Autor</h4>
						<ul class="comment-list">
              {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
              {{ range .Params.authors }}
                {{ range where (where $pages "Type" "authors") ".Params.name" . }}
    							<li>
    								<div class="comment">
    									<div class="comment-avator set-bg" data-setbg="{{ .Params.photo }}"></div>
    									<div class="comment-content">
    										<h5>{{ .Params.name }} <span>{{ .Params.description }}</span></h5>
    										<p> {{ .Content }} </p>
    									</div>
    								</div>
    							</li>
                {{ end }}
              {{ end }}
						</ul>
					</div>
          <br />
					<div class="comment-form-warp bg-dark banner-container">
						<h4 class="comment-title title">Comentarios</h4>

            <div id="disqus_thread"></div>
            <script>
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://https-patojad-gitlab-io-blog.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
            </script>

					</div>
				</div>
        <div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
          {{- partial "widgets/lateralbar.html" . -}}
        </div>
			</div>
		</div>
	</section>
{{ end }}
