<!DOCTYPE html>
<html id="patojad" lang="es" class="full-height">
    {{- partial "head.html" . -}}
    <body class="">
      <div class="tenue">
        <div class="container">
          {{- partial "header.html" . -}}
          <main role="main" id="content">
            <div class="container-fluid">
              <div class="row">
                {{- block "main" . }}{{- end }}
              </div>
            </div>
          </main>
        </div>
        {{- partial "footer.html" . -}}
      </div>
    </body>
</html>
