{{ define "main" }}
  <style media="screen">
    :root{
      --pagecolor: var(--page-{{ .Params.type }});
    }
    .{{ .Params.type }}{
      background: var(--page-{{ .Params.type }}) !important;
      border: 1px solid var(--page-{{ .Params.type }}) !important;
    }
  </style>

  <div class="col-md-8" style="padding-right: 5px; padding-left: 5px;">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-12">
          {{- partial "post/lasts.html" . -}}
        </div>

        <div class="col-md-12">
          <div class="container">
            <div class="row">
              {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
              {{ range $paginator.Pages }}

                {{ .Render "card" }}

              {{ end }}
            </div>
          </div>

          <br />

          {{ partial "pagination.html" $paginator }}
        </div>


      </div>
    </div>
  </div>
  <div class="col-md-4" style="padding-right: 5px; padding-left: 5px;">
    {{- partial "widgets/lateralbar.html" . -}}
  </div>


{{ end }}
