<div class="card col-md-12 cat-card">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-3 cat-icon text-center">
        <a href="/noticias/" class="noticias">
          <br />
          <i class="fa fa-newspaper-o fa-5x" aria-hidden="true"></i>
          <br />
          <br />
          Noticias
          <br />
        </a>
      </div>

      <div class="col-md-9" style="margin-right:-30px; margin-left:-30px;">
        <div class="container-fluid">
          <div class="row">

            {{ range first 4 (where .Site.Pages "Section" "noticias" ).ByPublishDate.Reverse }}
              <div class="col-md-6 cat-div" style="background: url({{ .Params.img }}) no-repeat center; background-size: cover;">
                <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                  <div class="cat-title noticias">
                    <b>{{ .Title }}</b>
                  </div>
                </a>
              </div>
            {{ end }}

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
