<div class="card">
	<div class="card-head">
		<h4 class="card-title text-center">Donar</h4>
	</div>
	<div class="card-body">
    <p class="minitext">Todo lo que realizamos en el softwarelibre (colaboraciones, desarrollos, blogs, etc.) lo realizamos por amor al mismo y no pedimos nada a cambio por nuestros servicios comunitarios.</p>
    <p class="minitext">Sin embargo muchas personas desean colaborar para poder mejorar los mismos y personalmente ofrezco esta opcion aunque aconsejo fuertemente que se done en proyectos mas importantes como KDE y demas...</p>

		<div class="d-grid gap-2">
			<a href="https://paypal.me/joaquindecima" target="_blank" rel="external" rel="external" class="btn btn-lg btn-block primary dona">
	      <i class="fa fa-paypal" aria-hidden="true"></i> Donar via PayPal
	    </a>
			<a href="https://www.patreon.com/join/joaquindecima?" target="_blank" rel="external" rel="external" class="btn btn-lg btn-block primary dona">
	      <i class="fa fa-patreon" aria-hidden="true"></i> Donar via Patreon
	    </a>
			<a href="https://ceneka.net/mp/d/PatoJAD" target="_blank" rel="external" rel="external" class="btn btn-lg btn-block primary dona">
	      <i class="fa fa-handshake-o" aria-hidden="true"></i> Donar via MercadoPago
	    </a>
		</div>

	</div>
</div>
