{{- partial "widgets/search.html" . -}}
<br />
<br />
{{- partial "widgets/categorys.html" . -}}
<br />
<center>
	<iframe
		id="webroundbuttonwidget2"
		file="webroundbuttonwidget"
		src="https://telegrambutton.com/webroundbuttonwidget.php?chat_id=PatoJADCommunity&showchatid=true&showmembercount=true&showmembercount=true&color=&pulse=true&textcolor=white&shadowval=z-depth-2&textval=Unite al Canal"
		border="1"
		style="border:20px;height: 100px;width: 100px;">
	</iframe>
</center>
<br />
{{- partial "widgets/donar.html" . -}}
<br />
<br />
{{- partial "widgets/friendssite.html" . -}}
<br />
<br />
{{- partial "widgets/telegram.html" . -}}
<br />
<br />
{{- partial "widgets/discord.html" . -}}
