<div class="col-md-3">
  <center class=" card" style="padding: 7px; background: var(--pagecolor)">
    <div
      class="g-ytsubscribe"
      data-channelid="UCta4Iy4TzMx8Xo0pwpkbWgg"
      data-layout="full"
      data-count="default">
    </div>
  </center>
</div>
<div class="col-md-3">
  <center class=" card" style="padding: 7px; background: var(--pagecolor)">
    <div
      class="g-ytsubscribe"
      data-channelid="UCWxUfCyAMgs2dZO_oRkQPog"
      data-layout="full"
      data-count="default">
    </div>
  </center>
</div>
<div class="col-md-3">
  <center class=" card" style="padding: 7px; background: var(--pagecolor)">
    <div
      class="g-ytsubscribe"
      data-channelid="UC7YtNCqgXo4H3khE6qNLk3g"
      data-layout="full"
      data-count="default">
    </div>
  </center>
</div>
<div class="col-md-3">
  <center class=" card" style="padding: 7px; background: var(--pagecolor)">
    <div
      class="g-ytsubscribe"
      data-channelid="UC6ImDlcMZukA-pqtIaXqbdA"
      data-layout="full"
      data-count="default">
    </div>
  </center>
</div>
