<div class="p-3">
  <!--dark mode - text and icons-->
  <footer class="p-8 text-gray-800 dark:text-gray-50 bg-gray-100 dark:bg-gray-800 rounded-xl shadow-lg font-medium">
    <div class="flex flex-wrap p-2 justify-center content-center">
      {{ range .Site.Menus.footer }}
      <a href="{{ .URL | relLangURL }}" {{ if eq .Params.newtab true }}target="_blank" {{ end }} title="{{- .Name -}} "
        class="px-2 py-1 mx-2 cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-900 hover:text-amber-500 text-sm rounded-xl flex content-center items-center">
        <span class="mx-1 hidden md:block"> {{- .Name -}} </span>
      </a>
      {{ end }}
    </div>
    <div class="flex flex-wrap justify-between">
      <div>
        {{ range .Site.Params.footer.social }}
        <a href="{{ .url }}" alt="{{ .name }}" aria-label="{{ .name }}"
          class="rounded-full bg-gray-200 dark:bg-gray-900 p-3 me-2 mb-4 hover:text-amber-500" rel="noopener"
          target="_blank">
          {{ if strings.HasPrefix .params.icon "fa fa" }}
          <em class="{{ .params.icon }}"></em>
          {{ else }}
          {{ partial "helper/icon" .params.icon }}
          {{ end }}
        </a>

        {{ end }}
      </div>
      <div>Creado por <a href="https://vasak.net.ar" target="_blank" class="text-amber-500">Vasak Group</a></div>
    </div>
  </footer>
</div>
{{ partial "components/widgets/search.html" . }}
{{ partial "modules/footer/scripts.html" . }}