<div class="p-3">
  <!--dark mode - text and icons-->
  <footer class="p-8 text-slate-900 dark:text-slate-50 bg-slate-50 dark:bg-slate-800 rounded-xl shadow-lg font-medium">
    <div class="flex flex-wrap justify-between">
      <div>
        {{ range .Site.Params.footer.social }}
        <a href="{{ .url }}" alt="{{ .name }}" aria-label="{{ .name }}"
          class="rounded-full bg-slate-50 dark:bg-slate-600 p-3 me-2 mb-4 hover:text-amber-500" rel="noopener"
          target="_blank">
          {{ if strings.HasPrefix .params.icon "fa fa" }}
          <em class="{{ .params.icon }}"></em>
          {{ else }}
          {{ partial "helper/icon" .params.icon }}
          {{ end }}
        </a>

        {{ end }}
      </div>
      <div>Creado por <a href="https://vasak.net.ar" target="_blank" class="text-amber-500">Vasak Group</a></div>
    </div>
  </footer>
</div>

{{ partial "modules/footer/scripts.html" . }}