<div class="p-3 relative z-10">
  <nav
    class="p-3 common-text bg-slate-50 dark:bg-slate-800 rounded-xl shadow-lg font-medium capitalize flex content-center items-center">
    <span class="px-2 mr-2 border-xl border-slate-800"> PatoJAD </span>
    <div class="ml-auto mr-auto flex flex-wrap">
      {{ range .Site.Menus.main }}
      <a href="{{ .URL | relLangURL }}" {{ if eq .Params.newtab true }}target="_blank" {{ end }} title="{{- .Name -}}"
        class="px-2 py-1 mx-2 cursor-pointer hover:bg-slate-200 dark:hover:bg-slate-700 hover:text-slate-50 text-sm rounded-xl flex content-center items-center">
        <span class="p-2 bg-slate-200 dark:bg-slate-700 rounded-full w-8 h-8"><em class="{{- .Params.icon -}}"></em></span>
        <span class="mx-1 hidden md:block"> {{- .Name -}} </span>
      </a>
      {{ end }}
    </div>
    <div>
      <DarkModeButton />
    </div>
  </nav>
</div>