.c-aplicaciones{
	background: var(--aplicaciones);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-aplicaciones:hover{
	background: rgba(0, 0, 0, 0);
}
.c-aplicaciones-text{
	color: #FFFFFF;
}
.c-aplicaciones-text:hover{
	color: var(--aplicaciones);
}

.c-juegos{
	background: var(--juegos);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-juegos:hover{
	background: rgba(0, 0, 0, 0);
}
.c-juegos-text{
	color: #FFFFFF;
}
.c-juegos-text:hover{
	color: var(--juegos);
}

.c-linux{
	background: var(--linux);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-linux:hover{
	background: rgba(0, 0, 0, 0);
}
.c-linux-text{
	color: #FFFFFF;
}
.c-linux-text:hover{
	color: var(--linux);
}

.c-noticias{
	background: var(--noticias);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-noticias:hover{
	background: rgba(0, 0, 0, 0);
}
.c-noticias-text{
	color: #FFFFFF;
}
.c-noticias-text:hover{
	color: var(--noticias);
}

.c-programacion{
	background: var(--programacion);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-programacion:hover{
	background: rgba(0, 0, 0, 0);
}
.c-programacion-text{
	color: #FFFFFF;
}
.c-programacion-text:hover{
	color: var(--programacion);
}

.c-estilo{
	background: var(--estilo);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-estilo:hover{
	background: rgba(0, 0, 0, 0);
}
.c-estilo-text{
	color: #FFFFFF;
}
.c-estilo-text:hover{
	color: var(--estilo);
}

.c-comunidad{
	background: var(--comunidad);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-comunidad:hover{
	background: rgba(0, 0, 0, 0);
}
.c-comunidad-text{
	color: #FFFFFF;
}
.c-comunidad-text:hover{
	color: var(--comunidad);
}

.c-redesyseguridad{
	background: var(--redesyseguridad);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-redesyseguridad:hover{
	background: rgba(0, 0, 0, 0);
}
.c-redesyseguridad-text{
	color: #FFFFFF;
}
.c-redesyseguridad-text:hover{
	color: var(--redesyseguridad);
}
