h1{
    text-align: center;
    font-size: 32px;
    text-transform: initial;
    margin-top: 10px;
}

h3{
    font-size: 26px;
    text-transform: initial;
    margin-top: 40px;
}

body{
  font-family: Lato !important;
  font-style: normal !important;
  font-variant: normal !important;
}

p {
    color: #6c6c6c;
    font-size: 18px;
    margin: 20px;
}

li{
    color: #6c6c6c;
    font-size: 18px;
}

blockquote{
    border-radius: 3px;
    position: relative;  /*  <--- */
    font-style: italic;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
}

table{
  @extend .table
  color: #6c6c6c;
  font-size: 18px;
}

thead{
  @extend .thead-dark
}
