h1{
    text-align: center;
    font-size: 32px;
    text-transform: initial;
    margin-top: 10px;
}

h3{
    font-size: 26px;
    text-transform: initial;
    margin-top: 40px;
}

body{
  font-family: Lato !important;
  font-style: normal !important;
  font-variant: normal !important;
}

p {
    color: #6c6c6c;
    font-size: 18px;
    margin: 20px;
}

li{
    color: #6c6c6c;
    font-size: 18px;
}
