h1{
    text-align: center;
    font-size: 32px;
    text-transform: initial;
}

h3{
    font-size: 26px;
    text-transform: initial;
}

body{
  font-family: Lato !important;
  font-style: normal !important;
  font-variant: normal !important;
}

p {
    color: #6c6c6c;
    font-size: 18px;
}

pre{
  background-color: black;
  background-image: radial-gradient(
    rgba(30,135,240,0.75), black 120%
  );
  height: 100vh;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

pre::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}

::selection {

  text-shadow: none;
}
