:root{
	--pagecolor: #03a9f4;

	--page: #03A9F4;
	--linux: #B2FF59;
	--juegos: #7C4DFF;
	--aplicaciones: #FF5252;
	--noticias: #FF8C00;
	--programacion: #FFD740;
	--estilo: #FF80AB;
	--comunidad: #64DD17;
	--redesyseguridad: #F44336;
}

.logo {
	/*height: 45px !important;*/
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: var(--pagecolor);
	fill: var(--pagecolor);
}
