:root{
	--pagecolor: #03a9f4;

	--page: #03A9F4;
	--linux: #B2FF59;
	--juegos: #7C4DFF;
	--aplicaciones: #FF5252;
	--noticias: #FF8C00;
	--programacion: #FFD740;
	--estilo: #FF80AB;
	--comunidad: #64DD17;
	--redesyseguridad: #F44336;
}

body{
	color: #FFFFFF;
}
h1,h2,h3{
	color: var(--pagecolor);
}

a{
  color: var(--pagecolor);
}

a:hover{
  color: var(--pagecolor);
  text-decoration: none;
  font-weight: bold;
}

.logo {
  height: 100% !important;
  width: 100% !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: var(--pagecolor);
	fill: var(--pagecolor);
}

.color{
  color: var(--pagecolor);
}

.transparent{
  background: rgba(0, 0, 0, 0.75);
}

nav{
  border-bottom: 3px var(--pagecolor) solid;
}

body{
  background-image: url("../img/pattern.png");
	background-repeat: repeat;
}

main{
  margin-top: 30px;
  margin-bottom: 50px;
}

.card-header{
  padding: 0rem 0rem;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 3px solid var(--pagecolor);
	border-radius: 0px;
}

.card{
	border: 0px solid rgba(0,0,0,.125);
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0);
}

.card-title{
	margin-bottom: 0rem;
}

.card-body{
	padding: 0rem;
}

.background-color{
	background: var(--pagecolor);
	padding-left: 4px;
	padding-right: 4px;
}

.minitext{
	padding: 10px;
	font-size: 11px;
	margin-bottom: 0px;
	color: #FFFFFF;
}

.btn-primary{
	background: var(--pagecolor) !important;
	border: 0px var(--pagecolor) solid !important;
}

.primary{
	color: var(--pagecolor);
	border-radius: 0px;
}
.primary:hover{
	color: #FFFFFF;
	background: var(--pagecolor)
}

.dona{
	font-size: 16px;
}

.site{
  padding: 20px;
}

.newstop{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
  padding-bottom: 4px;
}

.newstop2{
	padding-left: 0px;
	padding-right: 0px;
}

.info{
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.list-group-item{
	border: 1px solid var(--pagecolor);
	background-color: rgba(0,0,0,0);
}

footer{
	padding: 20px;
	border-top: 3px solid var(--pagecolor);
}

.full-col-6{
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-small-img{
	max-width: 20px;
	border-radius: 50%;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pagecolor);
}


blockquote{
	margin: 20px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	border-left: 15px solid var(--pagecolor);
}
