<div
  data-role="carousel"
  data-controls-on-mouse="true"
  data-bullet-style="circle"
  data-bullets-position="right"
  data-effect="fade"
  data-auto-start="true"
  data-effect-func="easeOutBounce">
  {{ range first 5 .Site.RegularPages.ByDate.Reverse }}

    <div class="slide p-2 pl-10 pr-10" data-cover="{{ .Params.img }}">
      <div class="row flex-align-center h-100 carr-info">
        <div class="cell-md-8">
          <h1>{{ .Title }}</h1>
          <p class="indent-letter">{{ .Params.description }}</p>
          <br />
          <br />
          <center>
            <a href="{{ .RelPermalink }}" class="image-button bg-pjad">
              <span class="mif-enter icon"></span>
              <span class="caption">Leer Mas</span>
            </a>
          </center>
        </div>
        <div class="cell-md-4 text-center">
          <div class="img-container">
            {{- partial "format/icons.html" .Params.type -}}
          </div>
        </div>
      </div>
    </div>

  {{ end }}

</div>
