<article class="w-full rounded-xl grid grid-cols-1 md:grid-cols-3 p-8 bg-slate-200 dark:bg-slate-800 mb-6 shadow-xl">
  <div class="w-full h-full min-h-48 rounded-xl bg-cover bg-no-repeat bg-center mb-6" style="background-image: url({{.Params.img}});"></div>
  <div class="md:ml-6 w-full col-span-2">
    <h2 class="font-bold text-xl text-amber-500 mb-6"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <span class="mb-3">
      {{ $formattedDate := .Date.Format "Friday, March 3, 2006" }}
      {{ $monthNumber := .Date.Month }} {{ $dayNumber := .Date.Weekday }}
      {{ if eq site.Language.Lang "es" }}
      {{ $monthNumber = index site.Data.meses (printf "%d"
      .Date.Month) }}
      {{ $dayNumber = index site.Data.dias (printf "%d" .Date.Weekday)
      }}
      {{ $formattedDate = delimit (slice $dayNumber (printf "%d" .Date.Day) "de" $monthNumber "de" (printf "%d"
      .Date.Year)) " "}}
      {{ end }}
    
      {{ $formattedDate }}
    </span>
    <p>{{ .Params.description }}</p>

      {{ if .Params.categories }}
      <div class="mt-6">
        {{ range (.GetTerms "categories") }}
        <a href="{{ .RelPermalink }}" class="p-2 rounded-xl mr-2" {{ with .Params.style }}
          style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
          {{ .LinkTitle }}
        </a>
        {{ end }}
      </div>
      {{ end }}

      <div class="flex flex-wrap justify-between mt-6">
        <div><em class="fa fa-clock-o" aria-hidden="true"></em> {{ .ReadingTime }} min de lectura</div>
        <a href="{{ .RelPermalink }}" class="bg-amber-500 p-2 mr-3 rounded-xl">
          Leer <em class="fa fa-arrow-right" aria-hidden="true"></em>
        </a>
      </div>
  </div>
  <div class="single-blog" aria-hidden="true" tabindex="-1">

    <div class="blog-content">



      <div class="content-card-footer">
        <time class="me-auto">
          
        </time>
        
      </div>
    </div>
  </div>
</article>