<article class="rounded-xl overflow-hidden shadow-lg bg-gray-100 dark:bg-gray-800">
  <div class="relative">
    <a href="{{ .RelPermalink }}">
      <img class="w-full" src="{{.Params.img}}" alt="{{ .Title }}" title="{{ .Title }}" loading="lazy" decoding="async">
      <div
        class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
      </div>
    </a>
    <a href="#!">
      <div class="absolute bottom-0 left-0 bg-gray-100 dark:bg-gray-800 px-4 py-2 rounded-tr-xl">
        {{ $technologies := .Params.technologies }}
        {{ range .Site.Params.technologies.main }}
        {{ $usedTech := in $technologies .name }}
        {{ if $usedTech}}
        <span class="mr-2"><img src="{{ .image | safeURL }}" alt="{{ .name }}" title="{{ .name }}" class="h-6 w-6 inline" loading="lazy" decoding="async"></span>
        {{ end }}
        {{ end }}
      </div>
    </a>

    <a href="!#">
      <div
        class="text-sm absolute top-0 right-0 bg-amber-500 px-4 text-white rounded-full h-16 w-16 flex flex-col items-center justify-center mt-3 mr-3">
        <span class="font-bold">{{ $formattedDate := .Date.Format "Friday, March 3, 2006" }}
          {{ $monthNumber := .Date.Month }} {{ $dayNumber := .Date.Weekday }}
          {{ if eq site.Language.Lang "es" }}
          {{ $monthNumber = index site.Data.meses (printf "%d"
          .Date.Month) }}
          {{ end }}

          {{ printf "%d" .Date.Day }}</span>
        <small>{{ $monthNumber }}</small>
      </div>
    </a>
  </div>
  <div class="px-6 py-4">

    <a href="{{ .RelPermalink }}"
      class="font-semibold text-lg inline-block hover:text-amber-500 transition duration-500 ease-in-out">{{ .Title
      }}</a>
    <p class="text-gray-500 text-sm">
      {{ .Summary }}
    </p>
  </div>
  <div class="px-6 py-4 flex flex-row items-center">
    <span href="{{ .RelPermalink }}" class="py-1 text-sm font-regular opacity-50 mr-1 flex flex-row items-center">
      <em class="fas fa-clock"> </em>
      <span class="ml-1">{{ .ReadingTime }} min de lectura</span></span>
  </div>
</article>