<article class="w-xs h-auto rounded-xl p-4 bg-cover bg-no-repeat bg-center mb-4 shadow-xl"
  style="background-image: url({{.Params.img}});">
  <div class="w-full col-span-2 bg-gray-100 dark:bg-gray-800 rounded-xl opacity-90 p-4 relative hover:opacity-0">
    <a href="{{ .RelPermalink }}">
    <h2 class="font-bold text-xl text-amber-500 mb-4">{{ .Title }}</></h2>

    {{ if .Params.categories }}
    <div class="mt-4">
      {{ range (.GetTerms "categories") }}
      <a href="{{ .RelPermalink }}" class="p-2 rounded-xl mr-2" {{ with .Params.style }}
        style="background-color: {{ .background }}; color: {{ .color }};" {{ end }}>
        {{ .LinkTitle }}
      </a>
      {{ end }}
    </div>
    {{ end }}

    <div class="flex flex-wrap justify-center mt-4">
        {{ $technologies := .Params.technologies }}
        {{ range .Site.Params.technologies.main }}
        {{ $usedTech := in $technologies .name }}
        {{ if $usedTech}}
        <span class="mr-2"><img src="{{ .image | safeURL }}" alt="{{ .name }}" class="me-1 mb-4 h-6 w-6 inline"></span>
        {{ end }}
        {{ end }}

    </div>
    </a>
  </div>
</article>