{{ define "main" }}
  <style media="screen">
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-image: url('{{ .Params.img }}');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>

  <!-- Full Page Image Header with Vertically Centered Content -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 text-center">
          <h1 class="font-weight-light">{{ .Title }}</h1>
          <p class="lead">{{ .Params.description }}</p>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        {{ $paginator := .Paginate .Data.Pages.ByDate.Reverse }}
        {{ range $paginator.Pages }}

          {{ .Render "card" }}

        {{ end }}
        <div class="col-md-12">
          <br />
          {{ partial "pagination.html" $paginator }}
        </div>
      </div>
    </div>
  </main>
{{ end }}
