<div class="col-lg-6 col-md-6">
  <aside>
    <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-fluid">
    <div class="content-title">
      <div class="text-center">
        <h3><a href="#">Niki Postingan Sing Kepisan Njeh, Perdana Ngoten</a></h3>
      </div>
    </div>
    <div class="content-footer">
      <img class="user-small-img" src="img/perfil.jpg">
      <span style="font-size: 16px;color: #fff;">PatoJAD</span>
      <span class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> 30</a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
      </span>
      <div class="user-ditels">
        <div class="user-img"><img src="img/perfil.jpg" class="img-fluid"></div>
        <span class="user-full-ditels">
          <h3>PatoJAD</h3>
          <p>Web & Graphics Disigner</p>
        </span>
      </div>
    </div>
  </aside>
</div>

<div class="col-lg-6 col-md-6">
  <aside>
    <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-fluid">
    <div class="content-title">
      <div class="text-center">
        <h3><a href="#">Niki Postingan Sing Kepisan Njeh, Perdana Ngoten</a></h3>
      </div>
    </div>
    <div class="content-footer">
      <img class="user-small-img" src="img/perfil.jpg">
      <span style="font-size: 16px;color: #fff;">PatoJAD</span>
      <span class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> 30</a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
      </span>
      <div class="user-ditels">
        <div class="user-img"><img src="img/perfil.jpg" class="img-fluid"></div>
        <span class="user-full-ditels">
          <h3>PatoJAD</h3>
          <p>Web & Graphics Disigner</p>
        </span>
      </div>
    </div>
  </aside>
</div>

<div class="col-lg-6 col-md-6">
  <aside>
    <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-fluid">
    <div class="content-title">
      <div class="text-center">
        <h3><a href="#">Niki Postingan Sing Kepisan Njeh, Perdana Ngoten</a></h3>
      </div>
    </div>
    <div class="content-footer">
      <img class="user-small-img" src="img/perfil.jpg">
      <span style="font-size: 16px;color: #fff;">PatoJAD</span>
      <span class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> 30</a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
      </span>
      <div class="user-ditels">
        <div class="user-img"><img src="img/perfil.jpg" class="img-fluid"></div>
        <span class="user-full-ditels">
          <h3>PatoJAD</h3>
          <p>Web & Graphics Disigner</p>
        </span>
      </div>
    </div>
  </aside>
</div>

<div class="col-lg-6 col-md-6">
  <aside>
    <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-fluid">
    <div class="content-title">
      <div class="text-center">
        <h3><a href="#">Niki Postingan Sing Kepisan Njeh, Perdana Ngoten</a></h3>
      </div>
    </div>
    <div class="content-footer">
      <img class="user-small-img" src="img/perfil.jpg">
      <span style="font-size: 16px;color: #fff;">PatoJAD</span>
      <span class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> 30</a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
      </span>
      <div class="user-ditels">
        <div class="user-img"><img src="img/perfil.jpg" class="img-fluid"></div>
        <span class="user-full-ditels">
          <h3>PatoJAD</h3>
          <p>Web & Graphics Disigner</p>
        </span>
      </div>
    </div>
  </aside>
</div>

<div class="col-lg-6 col-md-6">
  <aside>
    <img src="https://lh3.googleusercontent.com/-ndZJOGgvYQ4/WM1ZI8dH86I/AAAAAAAADeo/l67ZqZnRUO8QXIQi38bEXuxqHfVX0TV2gCJoC/w424-h318-n-rw/thumbnail8.jpg" class="img-fluid">
    <div class="content-title">
      <div class="text-center">
        <h3><a href="#">Niki Postingan Sing Kepisan Njeh, Perdana Ngoten</a></h3>
      </div>
    </div>
    <div class="content-footer">
      <img class="user-small-img" src="img/perfil.jpg">
      <span style="font-size: 16px;color: #fff;">PatoJAD</span>
      <span class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Comments"><i class="fa fa-comments" ></i> 30</a>
        <a href="#" data-toggle="tooltip" data-placement="right" title="Loved"><i class="fa fa-heart"></i> 20</a>
      </span>
      <div class="user-ditels">
        <div class="user-img"><img src="img/perfil.jpg" class="img-fluid"></div>
        <span class="user-full-ditels">
          <h3>PatoJAD</h3>
          <p>Web & Graphics Disigner</p>
        </span>
      </div>
    </div>
  </aside>
</div>
