
<a
  id="back-to-top"
  href="#patojad"
  class="btn btn-primary btn-lg back-to-top"
  role="button"
  title="Ir Arriba"
  data-toggle="tooltip"
  data-placement="left">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</a>


<footer class="footer-section bg-dark">
  <div class="container">
    <ul class="footer-menu">
      <li><a href="https://patojad.gitlab.io/">Inicio</a></li>
      <li>
        <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()">
          Nuestras Apps
        </a>
      </li>
    </ul>
    <p class="copyright">
      Creado con <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="https://patojad.gitlab.io" target="_blank">PatoJAD</a>
    </p>
  </div>
</footer>


<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap-material-design.js"></script>

<script>
  $(document).ready(function() {
    $('body').bootstrapMaterialDesign();
  });
</script>

<!-- Menu Lateral para Aplicaciones -->
<script>
function mostrar() {
    document.getElementById("sidebar").style.width = "300px";
    document.getElementById("contenido").style.marginLeft = "300px";
    document.getElementById("abrir").style.display = "none";
    document.getElementById("cerrar").style.display = "inline";
}

function ocultar() {
    document.getElementById("sidebar").style.width = "0";
    document.getElementById("contenido").style.marginLeft = "0";
    document.getElementById("abrir").style.display = "inline";
    document.getElementById("cerrar").style.display = "none";
}
</script>
<!-- Menu Lateral para Aplicaciones -->

<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.marquee.min.js"></script>
<script src="/js/main.js"></script>
