<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} | {{ .Site.Title }}{{ end }}</title>


<!-- META Head -->
<meta charset="utf-8">
<meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport' />
<meta content='GNU, Linux, Juegos, Software Libre' name='keywords' />
<meta content='{{ .Params.tags }}' name='keywords' />
<meta name="author" content="PatoJAD" />
<meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title" />
<meta content="{{ .Params.description }} . PatoJAD es un Blog sobre GNU/Linux y software libre en general creado por un linuxnauta y mantenido en si por la propia comunidad que colabora dia a dia de diversas formas" property="og:description" />
<meta name="description" content="{{ .Params.description }} . PatoJAD es un Blog sobre GNU/Linux y software libre en general creado por un linuxnauta y mantenido en si por la propia comunidad que colabora dia a dia de diversas formas">
