<div id="sidebar" class="sidebar2 bg-dark">

  <a id="cerrar" class="cerrar" href="javascript:void(0)" onclick="ocultar()">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </a>

  <br/>
  <br/>

  <a class="menuapp" href="https://patojad.gitlab.io/chat/">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top pato-card-img" src="/img/telegram.png" alt="telegram">

        <p class="card-text textsider">
          Nuestra Instancia de telegram
        </p>

    </div>
  </a>

  <br/>

  <a href="https://patojad.gitlab.io/compartelibre/">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top pato-card-img" src="/img/compartelibre.png" alt="telegram">

        <p class="card-text textsider">
          Comparte en Redes sociales Libres
        </p>

    </div>
  </a>

  <br/>

  <a href="https://patojad.gitlab.io/">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top pato-card-img" src="/img/blog.png" alt="telegram">
        <p class="card-text textsider">
          Blog de la comunidad
        </p>
    </div>
  </a>

</div>
