<div id="sidebar" class="sidebar2 bg-dark">

  <a href="https://patojad.gitlab.io/chat/">
    <div class="card card-back" style="width: 18rem;">
      <img class="card-img-top" src="/img/telegram.png" alt="telegram">
      <div class="card-body">
        <p class="card-text white-text">
          Nuestra Instancia de telegram
        </p>
      </div>
    </div>
  </a>

  <br/>

  <a href="https://patojad.gitlab.io/compartelibre/">
    <div class="card card-back" style="width: 18rem;">
      <img class="card-img-top" src="/img/compartelibre.png" alt="telegram">
      <div class="card-body">
        <p class="card-text white-text">
          Comparte en Redes sociales Libres
        </p>
      </div>
    </div>
  </a>

  <br/>

  <a href="https://patojad.gitlab.io/">
    <div class="card card-back" style="width: 18rem;">
      <img class="card-img-top" src="/img/blog.png" alt="telegram">
      <div class="card-body">
        <p class="card-text white-text">
          Blog de la comunidad
        </p>
      </div>
    </div>
  </a>

  <a id="cerrar" class="abrir-cerrar" href="javascript:void(0)" onclick="ocultar()">
    Cerrar menu
  </a>
</div>
