<a href="{{ .RelPermalink }}">
  <div class="container">
    <div class="row" style="padding-top: 10px;padding-bottom: 10px;">
      <div class="col-md-4" style="height: 100%; width: 100%;	background: url({{ .Params.img }}) no-repeat center top; background-size: cover;">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      </div>
      <div class="col-md-8">
        <h2 class="{{ .Params.type }}-h">{{ .Title }}</h2>
        <br />
        <p class="text-white">
          {{ .Params.description }}
        </p>
        <br />
        <p class="text-right">
          {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
          {{ range .Params.authors }}
          {{ range first 1 (where (where $pages "Type" "authors") ".Params.name" .) }}
          <img class="user-small-img" src="{{ .Params.photo }}" alt="{{ .Params.name }}">
          <span style="font-size: 16px;color: #fff;">
            {{ .Params.name }}
          </span>
          {{ end }}
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</a>
