<div class="col-lg-6 col-md-6">
  <aside>
    <img src="{{ .Params.img }}" class="img-fluid">
    <div class="content-title">
      <div class="text-center">
        <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
      </div>
    </div>
    <div class="content-footer">
      <img class="user-small-img" src='{{ .Params.atimg }}'>
      <span style="font-size: 16px;color: #fff;">{{ .Params.atname }}</span>
      <span class="pull-right">
        <a href="#" data-toggle="tooltip" data-placement="left" title="Creado"><i class="fa fa-calendar" aria-hidden="true"></i> {{ .Date.Format "2006.01.02" }}</a>
      </span>
      <div class="user-ditels">
        <div class="user-img"><img src='{{ .Params.atimg }}' class="img-fluid"></div>
        <span class="user-full-ditels">
          <h3>{{ .Params.atname }}</h3>
          <p>{{ .Params.atdesc }}</p>
        </span>
      </div>
    </div>
  </aside>
</div>
