<!--<div class="col-lg-4 col-md-4 col-sm-8">
  <a href="{{ .RelPermalink }}">
  	<article class="card">
  		<div class="card-block">
  			<div class="img-card">
  				<img src="{{ .Params.img }}" class="w-100" />
  			</div>
  		</div>
      <center><h4>{{ .Title }}</h4></center>
  	</article>
  </a>
</div>-->
<div class="col-lg-4 top-post-right">
  <div class="single-top-post">
    <div class="feature-image-thumb relative">
      <div class="overlay overlay-bg"></div>
      <img class="img-fluid" src="{{ .Params.img }}" alt="">
    </div>
    <div class="top-post-details">
      <a href="{{ .RelPermalink }}">
        <h4>{{ .Title }}</h4>
      </a>
      <ul class="meta">
        <li><a href="#"><i class="fas fa-user-alt"></i> {{ .Params.atname }}</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i> {{ .Params.atdesc }}</a></li>
        <li><a href="#"><i class="fas fa-calendar-alt"></i> {{ .Date.Format "2006.01.02" }}</a></li>
      </ul>
    </div>
  </div>
</div>
