<div class="col-lg-4 col-md-4 col-sm-8">
  <a href="{{ .RelPermalink }}">
  	<article class="card">
  		<div class="card-block">
  			<div class="img-card">
  				<img src="{{ .Params.img }}" class="w-100" />
  			</div>
  		</div>
      <center><h4>{{ .Title }}</h4></center>
  	</article>
  </a>
</div>

<!--<div class="col-lg-4">
  <div class="single-top-post">
    <div class="feature-image-thumb relative">
      <div class="overlay overlay-bg"></div>
      <img class="img-fluid" src="{{ .Params.img }}" alt="">
    </div>
    <div class="top-post-details">
      <a href="{{ .RelPermalink }}">
        <h4>{{ .Title }}</h4>
      </a>
      <ul class="meta">
        <li><a href="#"><i class="fas fa-user-alt"></i> {{ .Params.atname }}</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i> {{ .Params.atdesc }}</a></li>
        <li><a href="#"><i class="fas fa-calendar-alt"></i> {{ .Date.Format "2006.01.02" }}</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <div class="feature-post relative">
    <div class="feature-img relative">
      <div class="overlay overlay-bg"></div>
      <img class="img-fluid" src="{{ .Params.img }}" alt="">
    </div>
    <div class="details">
      <a href="{{ .RelPermalink }}">
      <h3>{{ .Title }}</h3>
      </a>
      <ul class="meta">
        <li><a href="#"><i class="fas fa-user-alt"></i> {{ .Params.atname }}</a></li>
        <li><a href="#"><i class="fas fa-address-card"></i> {{ .Params.atdesc }}</a></li>
        <li><a href="#"><i class="fas fa-calendar-alt"></i> {{ .Date.Format "2006.01.02" }}</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="col-lg-4">
  <div class="pl-5 pb-5 pl-sm-0 ptb-sm-5 pos-relative h-50">
    <a class="pos-relative h-100 dplay-block" href="#">
      <div class="img-bg bg-grad-layer-6" style='background:url("{{ .Params.img }}") no-repeat center !important; background-size:cover;'>
      </div>
      <div class="abs-blr color-white p-20 bg-sm-color-7">
        <h4 class="mb-10 mb-sm-5"><b>{{ .Title }}</b></h4>
        <ul class="list-li-mr-20">
          <li>{{ .Date.Format "2006.01.02" }}</li>
          <li><i class="fas fa-user-alt"></i> {{ .Params.atname }}</li>
        </ul>
      </div>
    </a>
  </div>
</div>-->
