<!-- <div class="col-lg-4 col-md-4 col-sm-8">
  <a href="#">
  	<article class="card">
  		<div class="card-block">
  			<div class="img-card">
  				<img src="{{ .Params.img }}" class="w-100" />
  			</div>
  		</div>
      <center><h4>{{ .Title }}</h4></center>
  	</article>
  </a>
</div>
-->

<div class="col-lg-4 entry" style="background-image:url('{{ .Params.img }}');">
  <div class="entry__content">
    <h1><a href="{{ .RelPermalink }}" title="{{ .Title }}" style="color: #fff; text-shadow: 0px 0px 15px #000;">{{ .Title }}</a></h1>
    <div class="entry__info">
      <ul class="entry__meta">
        <li>{{ .Params.atname }}</li>
        <li>{{ .Date.Format "2006.01.02" }}</li>
      </ul>
    </div>
  </div>
</div>
