{{ define "main" }}

  {{ if isset .Params "img" }}
    <style>
      .banner{
        background-image:url('{{ .Params.img }}');
      }
    </style>
  {{ end }}
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          {{ .Title }}
        </div>
      </div>
    </div>
  </div>

  <section id="blog-section" >
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="widget-sidebar">
              <div class="content-widget-sidebar">
                {{ .Content }}
              </div>
            </div>
            <div class="widget-sidebar">
              <a href="https://patojad.gitlab.io/blog/compartelibre/?url=https://patojad.gitlab.io/blog/{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg btn-block">
                <i class="fas fa-share-alt"></i> Redes Libres
              </a>
            </div>
            <div class="widget-sidebar">
              <div class="row">
                <div class="col-lg-4 col-md-4">
                  <img src="{{ .Params.atimg }}" class="img-thumbnail" alt="{{ .Params.atname }}">
                </div>
                <div class="col-lg-8 col-md-8">
                  <h3>{{ .Params.atname }}</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            {{- partial "lateralbar.html" . -}}
          </div>
        </div>
    </div>
  </section>
{{ end }}
