{{ define "main" }}

  {{ if isset .Params "img" }}
    <style>
      .banner{
        background-image:url('{{ .Params.img }}');
      }
    </style>
  {{ end }}
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          {{ .Title }}
        </div>
      </div>
    </div>
  </div>

  <section id="blog-section" >
    <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="widget-sidebar">
              <div class="content-widget-sidebar">
                {{ .Content }}
              </div>
            </div>
            <div class="widget-sidebar">
              <div class="row">
                <center>
                  <a href="https://patojad.gitlab.io/compartelibre/?url=https://patojad.gitlab.io{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#2b90d9;">
                    <i class="fab fa-mastodon"></i>
                  </a>

                  <a href="https://patojad.gitlab.io/compartelibre/?url=https://patojad.gitlab.io{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#222222;">
                    <i class="fab fa-diaspora"></i>
                  </a>

                  <a href="https://patojad.gitlab.io/compartelibre/?url=https://patojad.gitlab.io{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#a22430;">
                    <i class="fa fa-gnu-social" aria-hidden="true" style="font: normal normal normal 20px/1 ForkAwesome;"></i>
                  </a>

                  <a href="https://patojad.gitlab.io/compartelibre/?url=https://patojad.gitlab.io{{ .RelPermalink }}&text={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg text-white" style="background-color:#43488a;">
                    <i class="fa fa-hubzilla" aria-hidden="true" style="font: normal normal normal 20px/1 ForkAwesome;"></i>
                  </a>

                  <a href="http://www.digg.com/submit?url=https://patojad.gitlab.io/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#0277bd;">
                    <i class="fab fa-digg"></i>
                  </a>

                  <a href="http://vkontakte.ru/share.php?url=https://patojad.gitlab.io/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#4680c2;">
                    <i class="fab fa-vk"></i>
                  </a>

                  <a href="whatsapp://send?text={{ .Title }}%20https://patojad.gitlab.io/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#25d366;">
                    <i class="fab fa-whatsapp"></i>
                  </a>

                  <a href="https://twitter.com/share?url=https://patojad.gitlab.io/{{ .RelPermalink }}&text={{ .Title }}&hashtags=PatoJAD" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#1DA1F2;">
                    <i class="fab fa-twitter"></i>
                  </a>

                  <a href="http://www.stumbleupon.com/submit?url=https://patojad.gitlab.io/{{ .RelPermalink }}&title={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color: #EB4823;">
                    <i class="fab fa-stumbleupon"></i>
                  </a>

                  <a href="http://www.facebook.com/sharer.php?u=https://patojad.gitlab.io/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#3C5A99;">
                    <i class="fab fa-facebook-f"></i>
                  </a>

                  <a href="http://reddit.com/submit?url=https://patojad.gitlab.io/{{ .RelPermalink }}&title={{ .Title }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#ff4301;">
                    <i class="fab fa-reddit-alien"></i>
                  </a>

                  <a href="https://telegram.me/share/url?text={{ .Title }}&url=https://patojad.gitlab.io/{{ .RelPermalink }}" target="_blank" type="button" class="btn btn-primary btn-lg" style="background-color:#54a9eb;">
                    <i class="fab fa-telegram-plane"></i>
                  </a>
                </center>
              </div>
            </div>

            <!-- author widget -->
            <div class="widget-sidebar">
            {{ $pages := .Site.Pages.ByPublishDate.Reverse }}
            {{ range .Params.authors }}
              {{ range where (where $pages "Type" "authors") ".Params.name" . }}
                <div class="row author-box">
                  <div class="col-md-4">
                    <img src="{{ .Params.photo }}" class="img-thumbnail" alt="{{ .Params.name }}">
                  </div>
                  <div class="col-md-8">
                    <h3 class="m-0">
                      {{ .Params.name }}
                    </h3>
                    <p class="h6 m-0 text-muted">
                      {{ .Params.description }}
                    </p>
                    <div class="mt-2 author-bio">
                      {{ .Content }}
                    </div>
                  </div>
                </div>
              {{ end }}
            {{ end }}
            </div>

            <div class="widget-sidebar">
              <script>
                var idcomments_acct = '7e3952091d612f308a08ab80558a8809';
                var idcomments_post_id;
                var idcomments_post_url;
              </script>
              <span id="IDCommentsPostTitle" style="display:none"></span>
              <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
            </div>

          </div>
          <div class="col-lg-4 col-md-4">
            {{- partial "lateralbar.html" . -}}
          </div>
        </div>
    </div>
  </section>
{{ end }}
