{{- /* Título SEO: "Página | PatoJAD ..." (máx ~60 caracteres) */ -}}
{{- $siteTitle := .Site.Title -}}
{{- $title := "" -}}
{{- if .IsHome -}}
  {{- $title = $siteTitle -}}
{{- else if eq .Kind "404" -}}
  {{- $title = printf "Página no encontrada | %s" $siteTitle -}}
{{- else if .IsPage -}}
  {{- $title = printf "%s | %s" .Title $siteTitle -}}
{{- else if eq .Kind "term" -}}
  {{- $title = printf "%s: %s | %s" (title (.Data.Singular | default "Tag")) .Title $siteTitle -}}
{{- else if eq .Kind "taxonomy" -}}
  {{- $title = printf "%s | %s" (title (.Data.Plural | default .Title)) $siteTitle -}}
{{- else -}}
  {{- $title = printf "%s | %s" .Title $siteTitle -}}
{{- end -}}
{{- return (truncate 60 $title) -}}
