{{ if eq . "linux" }}
  B2FF59
{{ else }}
  {{ if eq . "juegos" }}
    7C4DFF
  {{ else }}
    {{ if eq . "aplicaciones" }}
      00A3E8
    {{ else }}
      {{ if eq . "noticias" }}
        FF8C00
      {{ else }}
        {{ if eq . "programacion" }}
          FFD740
        {{ else }}
          {{ if eq . "estilo" }}
            FF80AB
          {{ else }}
            {{ if eq . "comunidad" }}
              64DD17
            {{ else }}
              {{ if eq . "redesyseguridad" }}
                F44336
              {{ else }}
                03A9F4
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{end}}
