.c-aplicaciones{
	background: var(--page-aplicaciones);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-aplicaciones:hover{
	background: rgba(0, 0, 0, 0);
}
.c-aplicaciones-text{
	color: #FFFFFF;
}
.c-aplicaciones-text:hover{
	color: var(--page-aplicaciones);
}

.c-juegos{
	background: var(--page-juegos);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-juegos:hover{
	background: rgba(0, 0, 0, 0);
}
.c-juegos-text{
	color: #FFFFFF;
}
.c-juegos-text:hover{
	color: var(--page-juegos);
}

.c-linux{
	background: var(--page-linux);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-linux:hover{
	background: rgba(0, 0, 0, 0);
}
.c-linux-text{
	color: #FFFFFF;
}
.c-linux-text:hover{
	color: var(--page-linux);
}

.c-noticias{
	background: var(--page-noticias);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-noticias:hover{
	background: rgba(0, 0, 0, 0);
}
.c-noticias-text{
	color: #FFFFFF;
}
.c-noticias-text:hover{
	color: var(--page-noticias);
}

.c-programacion{
	background: var(--page-programacion);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-programacion:hover{
	background: rgba(0, 0, 0, 0);
}
.c-programacion-text{
	color: #FFFFFF;
}
.c-programacion-text:hover{
	color: var(--page-programacion);
}

.c-estilo{
	background: var(--page-estilo);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-estilo:hover{
	background: rgba(0, 0, 0, 0);
}
.c-estilo-text{
	color: #FFFFFF;
}
.c-estilo-text:hover{
	color: var(--page-estilo);
}

.c-cursos{
	background: var(--page-cursos);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-cursos:hover{
	background: rgba(0, 0, 0, 0);
}
.c-cursos-text{
	color: #FFFFFF;
}
.c-cursos-text:hover{
	color: var(--page-cursos);
}

.c-comunidad{
	background: var(--page-comunidad);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-comunidad:hover{
	background: rgba(0, 0, 0, 0);
}
.c-comunidad-text{
	color: #FFFFFF;
}
.c-comunidad-text:hover{
	color: var(--page-comunidad);
}

.c-redesyseguridad{
	background: var(--page-redesyseguridad);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-redesyseguridad:hover{
	background: rgba(0, 0, 0, 0);
}
.c-redesyseguridad-text{
	color: #FFFFFF;
}
.c-redesyseguridad-text:hover{
	color: var(--page-redesyseguridad);
}

.c-instalacion{
	background: var(--page-instalacion);
	padding-top: 10px;
	padding-bottom: 10px;
}
.c-instalacion:hover{
	background: rgba(0, 0, 0, 0);
}
.c-instalacion-text{
	color: #FFFFFF;
}
.c-instalacion-text:hover{
	color: var(--page-instalacion);
}


.juegos{
	color:var(--page-juegos);
}
.comunidad{
	color:var(--page-comunidad);
}
.redesyseguridad{
	color:var(--page-redesyseguridad);
}
.programacion{
	color:var(--page-programacion);
}
.estilo{
	color:var(--page-estilo);
}
.cursos{
	color:var(--page-cursos);
}
.instalacion{
	color:var(--page-instalacion);
}
.noticias{
	color:var(--page-noticias);
}
.linux{
	color:var(--page-linux);
}
.noticicas{
	color:var(--page-noticicas);
}
.aplicaciones{
	color:var(--page-aplicaciones);
}

.juegos-h{
	color:var(--page-juegos);
}
.comunidad-h{
	color:var(--page-comunidad);
}
.redesyseguridad-h{
	color:var(--page-redesyseguridad);
}
.programacion-h{
	color:var(--page-programacion);
}
.estilo-h{
	color:var(--page-estilo);
}
.noticias-h{
	color:var(--page-noticias);
}
.linux-h{
	color:var(--page-linux);
}
.noticicas-h{
	color:var(--page-noticicas);
}
.aplicaciones-h{
	color:var(--page-aplicaciones);
}
.cursos-h{
	color:var(--page-cursos);
}
.instalacion-h{
	color:var(--page-instalacion);
}

.primary-tag{
	background-color: var(--pagecolor);
}
.primary-tag:hover, .primary-tag:focus{
	background-color: rgba(0,0,0,0) !important;
	color: var(--pagecolor) !important;
}

.footcontent{
	border-top: 3px solid var(--pagecolor);
}
