:root{
	--pagecolor: #03a9f4;
	--textcolor1: #FFFFFF;
	--textcolor2: #000000;
	--background: #333333;

	--page- : #03A9F4;
	--page-page: #03A9F4;
	--page-linux: #B2FF59;
	--page-juegos: #7C4DFF;
	--page-aplicaciones: #00A3E8;
	--page-noticias: #FF8C00;
	--page-programacion: #FFD740;
	--page-estilo: #FF80AB;
	--page-comunidad: #64DD17;
	--page-redesyseguridad: #F44336;
	--page-cursos: #956214;
	--page-instalacion: #1630BE;

}

body{
	color: #FFFFFF;
  background-color: var(--pagecolor);
	font-family: 'Comfortaa', cursive !important;
}

h1,h2,h3{
	color: var(--pagecolor);
}

a{
  color: var(--pagecolor);
}

a:hover{
  color: var(--pagecolor);
  text-decoration: none;
}

.logo {
  height: 100% !important;
  width: 100% !important;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: var(--pagecolor);
	fill: var(--pagecolor);
}

.color{
  color: var(--pagecolor);
}

.page-link{
	background: var(--pagecolor);
	color: var(--textcolor1);
	border: 0px;
}

.tg{
	border-radius: 15px;
}

.transparent{
  background: var(--background);
}

nav{
  border-bottom: 3px var(--pagecolor) solid;
}

.tenue{
	background: rgba(255,255,255,0.60);
}

main{
  margin-top: 30px;
  margin-bottom: 50px;
}

.card-header{
  padding: 0rem 0rem;
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 3px solid var(--pagecolor);
	border-radius: 0px;
}

.card{
	border: 0px solid rgba(0,0,0,.125);
	border-radius: 15px;
	background-color: var(--background);
}

.card-img-top{
	border-radius: 15px 15px 0px 0px;
}

.card-text{
	color: #FFFFFF !important;
}

.card-title{
	margin-bottom: 0rem;
	color: var(--pagecolor);
}

.card-body{
	padding: 20px;
}

.card-home{
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.background-color{
	background: var(--pagecolor);
	padding-left: 4px;
	padding-right: 4px;
}

.carousel{
	border-radius: 15px;
}

.carousel-item{
	height: 350px;
	border-radius: 15px;
}

.carousel-inner{
	border-radius: 15px;
}

.imgcarru{
	border-radius: 15px;
}

.minitext{
	padding: 10px;
	font-size: 11px;
	margin-bottom: 0px;
	color: #FFFFFF;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary{
	background: var(--pagecolor);
	border: 0px var(--pagecolor) solid;
}

.primary{
	color: var(--pagecolor);
	border-radius: 0px;
}
.primary:hover{
	color: #FFFFFF;
	background: var(--pagecolor)
}

.dona{
	font-size: 16px;
}

.site{
  padding: 20px;
}

.newstop{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
  padding-bottom: 4px;
}

.newstop2{
	padding-left: 0px;
	padding-right: 0px;
}

.info{
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.list-group-item{
	border: 1px solid var(--pagecolor);
	background-color: rgba(0,0,0,0);
}

footer{
	background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fkver.files.wordpress.com%2F2015%2F11%2Fdesktopwallpaper-event-1-0-kvermette.png&f=1&nofb=1');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 20px;
	border-top: 3px solid var(--pagecolor);
	border-radius: 15px 15px 0px 0px;
}

.full-col-6{
	margin-top: 10px;
	margin-bottom: 10px;
}

.user-small-img{
	max-width: 20px;
	border-radius: 50%;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.3);
	background-color: rgba(0,0,0,0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--pagecolor);
}

pre{
	padding: 15px;
	background: rgba(255,255,255,0.5);
	border-left: 15px solid var(--pagecolor);
	border-radius: 15px;
}

blockquote{
	margin: 20px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	border-left: 15px solid var(--pagecolor);
	border-radius: 15px;
}

.navbar{
	padding: 0px;
	border-top: 3px solid var(--pagecolor);
}

.nav-item{
	border-left: 1px solid var(--pagecolor);
	border-right: 1px solid var(--pagecolor);
}

hr{
	border-top: 1px solid var(--pagecolor);
}

img{
	border-radius: 15px;
}
