.sidebar2 {
    position: fixed;
    z-index: 101;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #6c757d !important;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
}

/* Edicion de Scrool bar */
::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: flex;  /* Ocultar scroll */
}

::-webkit-scrollbar-thumb {
    background: var(--pagecolor);
    border-radius: 0px;
}

.textsider{
  color: var(--pagecolor) !important;
  margin-top: -40px;
  font-weight: bold;
}

.pato-card-img{
  margin: 0px !important;
}

.pato-card-img:hover{
  border: 1px solid var(--pagecolor);
}

.cerrar{
	float: right;
  margin-right: 10px;
}

.cerrar:hover{
  color: #f44336;
}
