/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #1c1c1c;
}

.icon-bar a {
  background-color: rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0,0,0,0.3);
}

.facebook:hover {
  color: #3B5998 !important;
}

.twitter:hover {
  color: #55ACEE !important;
}

.youtube:hover {
  color: #bb0000 !important;
}

.instagram:hover {
  color: #d10869 !important;
}

.telegram:hover{
  color: #54a9eb !important;
}

.mastodon:hover{
  color: #2b90d9 !important;
}
