<div class="container contact-form-wrapper">
  <form class="row text-center contact-form" method="post" action="https://send.pageclip.co/5MCjmuteuMhqeXYun78rhaZVTiafPXRz">

    <div class="col-md-12">
      Titulo
      <input
      required
      type="text"
      name="title"
      data-role="input"/>
    </div>

    <div class="col-md-6">
      Nombre
      <input
      required
      type="text"
      name="name"
      data-role="input"/>
    </div>

    <div class="col-md-6">
      Apellido
      <input
      type="text"
      name="lastname"
      data-role="input"/>
    </div>

    <div class="col-md-6">
      E-mail
      <input
      required
      type="text"
      name="email"
      data-role="input"/>
    </div>

    <div class="col-md-6">
      Tema
      <select name="tema" data-role="select">
        <option value="opinion">Opinion</option>
        <option value="critica">Critica</option>
        <option value="reporte">Reporte</option>
        <option value="Sugerencia">Sugerencia</option>
      </select>
    </div>

    <div class="col-md-12">
      Mensaje
      <textarea name="texto" data-role="textarea"></textarea>
    </div>


    <button title="Enviar" class="pageclip-form__submit theme-btn col-12" type="submit">
      <span>Enviar</span>
    </button>


  </form>
</div>

<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
