@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
  @apply antialiased ease-linear transition-all duration-150 bg-slate-50 text-slate-900 dark:bg-slate-600 dark:text-white;
  font-family: "Baloo 2", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}

@import "components/markdown.css";