{{ define "main" }}
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          Bienvenido al Mundo Linux
        </div>
        <div class="banner-sub-heading">
          Este sitio tiene su propia comunidad en Telegram, no esperes mas para unirte!
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-banner" href="https://t.me/comunidadsoftwarelibre">Unete</button>
      </div>
    </div>
  </div>

<section id="blog-section" >
  <div class="container">
      <div class="row">
        <!-- News Secction -->
        <div class="col-lg-8">
          <div class="row">
            {{- partial "listpost/home.html" . -}}
          </div>
        </div>

        <!-- Widget Secction -->
        <div class="col-lg-4">
          {{- partial "widgets/categorias.html" . -}}
          {{- partial "widgets/sitiosamigos.html" . -}}
        </div>
      </div>
  </div>
</section>
{{ end }}
