{{ define "main" }}
  <div class="banner">
    <div class="container">
      <div class="banner-text">
        <div class="banner-heading">
          Bienvenido al Mundo Linux
        </div>
        <div class="banner-sub-heading">
          Este sitio tiene su propia comunidad en Telegram, no esperes mas para unirte!
        </div>
        <a type="button" class="btn btn-primary btn-lg btn-banner" href="https://t.me/comunidadsoftwarelibre"><i class="fab fa-telegram-plane"></i> Unete</a>
      </div>
    </div>
  </div>

  <section id="blog-section" >
    <div class="container">
        <div class="row">
          <!-- News Secction -->
          <div class="col-lg-12">
            {{- partial "listpost/getbanner.html" . -}}
          </div>

          <div class="col-lg-8">
            {{- partial "listpost/getlinux.html" . -}}
            {{- partial "listpost/getapps.html" . -}}
            {{- partial "listpost/getgame.html" . -}}
            {{- partial "listpost/getprogramacion.html" . -}}

          </div>

          <!-- Widget Secction -->
          <div class="col-lg-4">
            {{- partial "lateralbar.html" . -}}
          </div>
        </div>
    </div>
  </section>
{{ end }}
