.linux-ico{
  color: var(--page-linux) !important;
}

.aplicaciones-ico{
  color: var(--page-aplicaciones) !important;
}

.juegos-ico{
  color: var(--page-juegos) !important;
}

.noticias-ico{
  color: var(--page-noticias) !important;
}

.programacion-ico{
  color: var(--page-programacion) !important;
}

.estilo-ico{
  color: var(--page-estilo) !important;
}

.cursos-ico{
  color: var(--page-cursos) !important;
}

.redesyseguridad-ico{
  color: var(--page-redesyseguridad) !important;
}

.comunidad-ico{
  color: var(--page-comunidad) !important;
}

.p-color{
  color: var(--pagecolor) !important;
}

.linux-border{
  border-color: var(--page-linux) !important;
}

.aplicaciones-border{
  border-color: var(--page-aplicaciones) !important;
}

.juegos-border{
  border-color: var(--page-juegos) !important;
}

.noticias-border{
  border-color: var(--page-noticias) !important;
}

.programacion-border{
  border-color: var(--page-programacion) !important;
}

.estilo-border{
  border-color: var(--page-estilo) !important;
}

.cursos-border{
  border-color: var(--page-cursos) !important;
}

.redesyseguridad-border{
  border-color: var(--page-redesyseguridad) !important;
}

.comunidad-border{
  border-color: var(--page-comunidad) !important;
}
