.linux-ico{
  color: var(--page-linux);
}

.aplicaciones-ico{
  color: var(--page-aplicaciones);
}

.juegos-ico{
  color: var(--page-juegos);
}

.noticias-ico{
  color: var(--page-noticias);
}

.programacion-ico{
  color: var(--page-programacion);
}

.estilo-ico{
  color: var(--page-estilo);
}

.cursos-ico{
  color: var(--page-cursos);
}

.redesyseguridad-ico{
  color: var(--page-redesyseguridad);
}

.comunidad-ico{
  color: var(--page-comunidad);
}
