:root{
	--pagecolor: #03a9f4;
	--textcolor1: #FFFFFF;
	--textcolor2: #000000;
	--background: rgba(0,0,0,0.6);
  --transparent: rgba(0, 0, 0, 0);

	--page- : #03A9F4;
	--page-page: #03A9F4;
	--page-linux: #01AA02;
	--page-juegos: #EF2D35;
	--page-aplicaciones: #0CB1EA;
	--page-noticias: #8B01CC;
	--page-programacion: #FFD740;
	--page-estilo: #F061AC;
	--page-comunidad: #282FBA;
	--page-redesyseguridad: #F7B100;
	--page-cursos: #956214;
	--page-instalacion: #1630BE;

}

/* ------- TOP BAR ------- */
.app-bar{
  margin: 10px;
  border-radius: 20px;
  background: var(--background);
  color: var(--textcolor1);
  border-bottom: 3px solid var(--pagecolor);
}

.navcover{
	height: 32px;
}

.app-bar .app-bar-menu .d-menu, .app-bar .app-bar-menu .v-menu{
  background: var(--transparent);
  color: var(--textcolor1);
}

.app-bar .app-bar-button, .app-bar .app-bar-container, .app-bar .app-bar-item, .app-bar .brand{
  border-radius: 20px;
  background: var(--transparent);
}

.app-bar .hamburger{
  border-radius: 20px;
  border: 0px solid;
  background: var(--transparent);
}

.app-bar .app-bar-menu.opened{
  border-radius: 20px;
  background: var(--transparent);
}

.app-bar .app-bar-menu{
  background: var(--transparent);
}

.app-bar-expand .app-bar-menu.collapsed{
  margin-left: auto;
}

.hamburger.dark .line, .nav-button.dark .line{
  background-color: var(--pagecolor);
}

/* ------ Sidebar ------ */

.sidebar{
  margin: 10px;
  margin-top: 72px;
  border-radius: 20px;
  background: var(--background);
	width: 280px;
}

.sidebar-header>.avatar{
	background: #000;
}

.sidebar-header{
	background: var(--pagecolor) top left no-repeat;
	border-bottom: 0px var(--pagecolor) solid;
}

.sidebar-menu li a{
	color: var(--textcolor1);
}

/* ------ Cards ------ */

.card{
  background: var(--background);
  border-radius: 20px;
  border: 0px solid;
}

.card-header{
  border-bottom: 3px solid var(--pagecolor);
  color: var(--pagecolor);
}

.items-list>li .avatar~.label{
  padding-left: 70px;
}

.items-list>li+li{
  border-top: 1px var(--pagecolor) solid;
}

.card-footer{
	border-top: 0px solid var(--pagecolor);
}

.card-header .avatar img{
	border-radius: 20px;
}

.button, .flat-button{
	color: var(--pagecolor);
}

a.button, a.flat-button{
	color: var(--pagecolor);
}

/* ------ Paginacion ------ */

.pagination .page-item{
	background: var(--background);
	border: 0px solid var(--transparent);
	border-radius: 20px;
	color: var(--textcolor1);
}

.pagination .page-link{
	border-radius: 20px;
	background: var(--transparent);
}

/* ------ Forms ------ */

.input{
  border-radius: 20px;
  background: var(--transparent);
}

.field{
  margin: 30px;
  margin-bottom: 0px;
}

.input input{
  background: var(--transparent);
}

.search-form{
  border-radius: 20px;
  color: var(--pagecolor);
}

.color-picker, .file, .input, .metro-input, .select, .spinner, .tag-input, .textarea{
  border: 0px #d9d9d9 solid;
  background: rgba(255,255,255,0.6);
}

/* ------ Carrousel ------*/

.carr-info{
	background: var(--background);
	margin: auto;
	border-radius: 20px;
}

.carousel{
	border-radius: 20px;
}

.carousel .slide{
	border-radius: 20px;
}

.carousel .carousel-bullets.bullet-style-square .carousel-bullet{
	border-radius: 20px;
	border-radius: 0px solid;
}

.carousel .carousel-bullets .carousel-bullet.bullet-on{
	background: var(--pagecolor);
}

.carousel .carousel-switch-next, .carousel .carousel-switch-prev{
	color: var(--pagecolor);
}

/* ------ Generic ------ */

body{
	color: #FFFFFF;
	background-color: var(--pagecolor);
	font-family: 'Comfortaa', cursive !important;
  background-image: url("https://fondosmil.com/fondo/469.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: var(--pagecolor);
	fill: var(--pagecolor);
}

h1, h2, h3, h4{
	color: var(--pagecolor);
}
