:root{
	--site-blur: blur(6px);
	--site-radius: 20px;

	--pagecolor: #03a9f4;
	--textcolor: #FFFFFF;
	--background: rgba(0,0,0,0.7);
  --transparent: rgba(0, 0, 0, 0);

	--page- : #03A9F4;
	--page-page: #03A9F4;
	--page-linux: #01AA02;
	--page-juegos: #EF2D35;
	--page-aplicaciones: #0CB1EA;
	--page-noticias: #8B01CC;
	--page-programacion: #FFD740;
	--page-estilo: #F061AC;
	--page-comunidad: #282FBA;
	--page-redesyseguridad: #F7B100;
	--page-cursos: #956214;
	--page-instalacion: #1630BE;
}

/* ------- TOP BAR ------- */
.app-bar{
  margin: 10px;
  border-radius: var(--site-radius);
  background: var(--background);
	backdrop-filter: var(--site-blur);
  color: var(--textcolor);
  border-bottom: 3px solid var(--pagecolor);
}

.navcover{
	height: 32px;
}

.app-bar .app-bar-menu .d-menu, .app-bar .app-bar-menu .v-menu{
  background: var(--transparent);
  color: var(--textcolor);
}

.app-bar .app-bar-button, .app-bar .app-bar-container, .app-bar .app-bar-item, .app-bar .brand{
  border-radius: var(--site-radius);
  background: var(--transparent);
}

.app-bar .hamburger{
  border-radius: var(--site-radius);
  border: 0px solid;
  background: var(--transparent);
}

.app-bar .app-bar-menu.opened{
  border-radius: var(--site-radius);
  background: var(--transparent);
}

.app-bar .app-bar-menu{
  background: var(--transparent);
}

.app-bar-expand .app-bar-menu.collapsed{
  margin-left: auto;
}

.hamburger.dark .line, .nav-button.dark .line{
  background-color: var(--pagecolor);
}

.mySwitch .check::after {
  background: var(--pagecolor) !important;
  border-color: var(--pagecolor) !important;
}

.mySwitch input[type="checkbox"]:checked ~ .check {
  background: var(--pagecolor) !important;
}

.mySwitch input[type="checkbox"]:checked ~ .check::after {
  border-color: #ffffff!important;
  background: #ffffff!important;
}

.switch .check{
	border: 2px solid var(--pagecolor);
}

.switch input[type=checkbox]:checked~.check{
	border-color: var(--pagecolor);
}

/* ------ Sidebar ------ */

.sidebar{
  margin: 10px;
  margin-top: 72px;
  border-radius: var(--site-radius);
  background: var(--background);
	backdrop-filter: var(--site-blur);
	width: 280px;
}

.sidebar-header>.avatar{
	background: #000;
}

.sidebar-header{
	background: var(--pagecolor) top left no-repeat;
	border-bottom: 0px var(--pagecolor) solid;
}

.sidebar-menu li a{
	color: var(--textcolor);
}

.yt-div{
	backdrop-filter: var(--site-blur);
	margin: auto;
	background: var(--background);
	border-radius: var(--site-radius);
	padding: 5px;
}

/* ------ Cards ------ */

.card{
  background: var(--background);
	backdrop-filter: var(--site-blur);
  border-radius: var(--site-radius);
  border: 0px solid;
}

.card-header{
  border-bottom: 3px solid var(--pagecolor);
  color: var(--pagecolor);
}

.items-list>li .avatar~.label{
  padding-left: 70px;
}

.items-list>li+li{
  border-top: 1px var(--pagecolor) solid;
}

.card-footer{
	border-top: 0px solid var(--pagecolor);
}

.card-header .avatar img{
	border-radius: var(--site-radius);
}

.card-content .avatar img{
	border-radius: var(--site-radius);
	width: 100%;
	min-height: 100%;
}

.button, .flat-button{
	color: var(--pagecolor);
}

a.button, a.flat-button{
	color: var(--pagecolor);
}

.lat-content{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
}

.icon-box{
	border-radius: var(--site-radius);
}

.icon-box .icon{
	border-radius: var(--site-radius) 0px 0px var(--site-radius);
}

.icon-box .content {
	border-radius: var(--site-radius);
}

/* ------ Paginacion ------ */

.pagination .page-item{
	background: var(--background);
	backdrop-filter: var(--site-blur);
	border: 0px solid var(--transparent);
	border-radius: var(--site-radius);
	color: var(--textcolor);
}

.pagination .page-link{
	border-radius: var(--site-radius);
	background: var(--transparent);
}

/* ------ Forms ------ */

.input, .textarea .fake-textarea, textarea{
  border-radius: var(--site-radius);
  background: var(--transparent);
}

.color-picker, .file, .input, .metro-input, .select, .spinner, .tag-input, .textarea{
	border-radius: var(--site-radius);
  background: var(--transparent);
}

.field{
  margin: 30px;
  margin-bottom: 0px;
}

.input input{
  background: var(--transparent);
}

.search-form{
  border-radius: var(--site-radius);
  color: var(--pagecolor);
}

.color-picker, .file, .input, .metro-input, .select, .spinner, .tag-input, .textarea{
  border: 0px #d9d9d9 solid;
  background: rgba(255,255,255,0.6);
}

/* ------ Carrousel ------*/

.carr-info{
	background: var(--background);
	backdrop-filter: var(--site-blur);
	margin: auto;
	border-radius: var(--site-radius);
}

.carousel{
	border-radius: var(--site-radius);
}

.carousel .slide{
	border-radius: var(--site-radius);
}

.carousel .carousel-bullets.bullet-style-square .carousel-bullet{
	border-radius: var(--site-radius);
	border-radius: 0px solid;
}

.carousel .carousel-bullets .carousel-bullet.bullet-on{
	background: var(--pagecolor);
}

.carousel .carousel-switch-next, .carousel .carousel-switch-prev{
	color: var(--pagecolor);
}

/* ------ Footer ------*/

footer{
	background: var(--background);
	backdrop-filter: var(--site-blur);
	margin: 10px;
	padding: 20px;
	padding-bottom: 0px;
	border-radius: var(--site-radius);
	border-top: 3px solid var(--pagecolor);
}

.footend{
	border-radius: var(--site-radius);
	padding: 10px;
}

/* ------ Author ------ */

.skill-box{
	border-radius: var(--site-radius);
}

.skill-box .header{
	border-radius: var(--site-radius);
}

.skill-box .more{
	width: 100%;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  position: relative;
  display: block;
  padding: 10px;
  margin: 0;
	margin-top: 20px;
	border-radius: var(--site-radius);
  -webkit-box-ordinal-group: 4;
  order: 3;
  color: rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

/* ------ Preloader ------*/

#contenedor_carga{}

#carga{
	display: flex;
	position: fixed;
  align-items: center;
	z-index: 1000;
	bottom: 10px;
	right: 10px;
	border-radius: var(--site-radius);
	background: var(--background);
	backdrop-filter: var(--site-blur);
	padding: 10px
}

#cargando{
	margin: 0 auto;
}

/* ------ Tablas ------*/

table{
	border-collapse: collapse;
	overflow: hidden;
	width: 100%;
	border-radius: var(--site-radius);
}

td, th{
	padding: 8px;
	background: var(--background);
	backdrop-filter: var(--site-blur);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

th{
	color: var(--pagecolor);
  text-align: center;
	padding: 12px;
}

thead{
	border-radius: var(--site-radius);
}

tbody{
	border-radius: var(--site-radius);
}

/* ------ Imagenes ------ */

.img-container img, .drop-shadow{
	border-radius: var(--site-radius);
}

/* ------ Publicacion ------ */

.publicacion .titulo{
	margin-bottom: 40px;
}

.publicacion p {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: justify;
  text-justify: inter-word;
}

.publicacion h2, .publicacion h3, .publicacion h4 .publicacion h5{
	margin-top: 50px;
	margin-bottom: 20px;
}

.publicacion pre{
	margin-top: 30px;
	margin-bottom: 30px;
}

/* ------ Social ------ */

.button{
	border-radius: var(--site-radius);
	margin-top: 20px;
	margin-bottom: 30px;
}

.social-l{
	margin-left: auto;
}

.facebook {
  color: #FFFFFF !important;
	background: #3B5998 !important;
}

.twitter {
  color: #FFFFFF !important;
	background: #55ACEE !important;
}

.youtube {
  color: #FFFFFF !important;
	background: #BB0000 !important;
}

.instagram {
  color: #FFFFFF !important;
	background:  #D10869 !important;
}

.telegram{
  color: #FFFFFF !important;
	background: #54A9EB !important;
}

.mastodon{
  color: #FFFFFF !important;
	background: #2B90D9 !important;
}

.steam{
  color: #FFFFFF !important;
	background: #2A475E !important;
}

.discord{
  color: #FFFFFF !important;
	background: #7289DA !important;
}

.lbry{
  color: rgba(0, 0, 0, 0.2) !important;
	background: #FFFFFF !important;
}

.twitch{
  color: #FFFFFF !important;
	background: #6441a5!important;
}

.facebook:hover {
  color: #3B5998 !important;
	background: rgba(0, 0, 0, 0) !important;
}

.twitter:hover {
  color: #55ACEE !important;
	background: rgba(0, 0, 0, 0) !important;
}

.youtube:hover {
  color: #BB0000 !important;
	background: rgba(0, 0, 0, 0) !important;
}

.instagram:hover {
  color: #D10869 !important;
	background: rgba(0, 0, 0, 0) !important;
}

.telegram:hover{
  color: #54A9EB !important;
	background: rgba(0, 0, 0, 0) !important;
}

.mastodon:hover{
  color: #2B90D9 !important;
	background: rgba(0, 0, 0, 0) !important;
}

.twitch:hover{
  color: #6441a5!important;
	background: rgba(0, 0, 0, 0) !important;
}

.steam:hover{
  color: #2A475E !important;
	background: rgba(0, 0, 0, 0) !important;
}

.discord:hover{
  color: #7289DA !important;
	background: rgba(0, 0, 0, 0) !important;
}

.lbry:hover{
  color: #FFFFFF !important;
	background: rgba(0, 0, 0, 0) !important;
}

/* ------ ContDown ------ */

#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.lynx-section {
	background: rgba(255,255,255,.6);
	width: 180px;
	height: 180px;
	margin: 0 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--site-radius);
}

.lynx-amount {
	display: block;
	font-size: 50px;
	font-weight: 700;
}

.lynx-word {
	font-weight: 300;
	font-size: 30px;
}


/* ------ Generic ------ */

body{
	color: var(--textcolor);
	background-color: var(--pagecolor);
	font-family: 'Comfortaa', cursive !important;
  background-image: url("https://i.pinimg.com/originals/8e/d7/e7/8ed7e77b8ed8fe247f8254c6866bfd2c.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	color: var(--pagecolor);
	fill: var(--pagecolor);
}

h1, h2, h3, h4, h5{
	color: var(--pagecolor);
}

.bg-pjad{
	background: var(--pagecolor);
}

.image-button{
	border-radius: var(--site-radius);
	margin: 2px;
}
.image-button .icon{
	border-radius: var(--site-radius) 0px 0px var(--site-radius);
}

.contenedor{
	padding: 40px;
	border-radius: var(--site-radius);
	margin: 10px;
	background: var(--background);
	backdrop-filter: var(--site-blur);
}

.button.primary{
	border-radius: var(--site-radius);
	background: var(--pagecolor);
}

a, a:hover, a:not([class]),a:not([class]):hover{
	text-decoration: none;
}

.footcontent{
	border-top: 3px solid var(--pagecolor);
}

pre{
	padding: 15px;
	background-color: var(--background) !important;
	border-left: 15px solid var(--pagecolor);
	border-radius: var(--site-radius);
}

pre code{
	background: var(--transparent);
}

blockquote{
	margin: 20px;
	margin-left: 50px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.1);
	border-left: 15px solid var(--pagecolor);
	border-radius: var(--site-radius);
}

.embed-container iframe{
	border-radius: var(--site-radius);
}

.fg-pjad {
  color: var(--pagecolor) !important;
}

a, a:not([class]){
	color: var(--pagecolor);
}

.m-10{
	margin-top: 7px !important;
	margin-bottom: 7px !important;
}

.input .button{
	margin-top: 0px;
	margin-bottom: 0px;
}

.info-box{
	border-radius: var(--site-radius);
}

.info-box .info-box-content{
	padding: 5px;
}

.no-margin{
	margin: 0px !important;
}

.drop-container{
	border-radius: var(--site-radius);
}

.select .option-list li.active{
	background-color: var(--pagecolor);
	border-radius: var(--site-radius);
}
