:root{
  --primary: rgb(208,110,10);
  --dark: #343a40;
}

p{
  font-size: 18px;
}

body{
  font-family: 'Lato', bold;
}

h1, h2, h3, h4, h5{
  font-family: 'Comfortaa', sans-serif;
}

main{
  padding-top: 30px;
  padding-bottom: 30px;
}

a{
  color: var(--primary);
}

a:hover{
  color: var(--primary);
}

.btn-primary{
  background: var(--primary);
  background-color: var(--primary);
  border-color: var(--primary);
  border-radius: 20px;
}

.btn-primary:hover{
  background: var(--dark);
  background-color: var(--dark);
  border-color: var(--dark);
}

.navbar{
  border-radius: 0% 0% 35% 35%;
}

footer{
  border-radius: 13% 13% 0% 0%;
}
