{{ define "main" }}

<div class="flex flex-col justify-center items-center px-6 max-w-[1400px] m-auto">
  <div class="grid grid-cols-1 md:grid-cols-3 py-12 w-full">
    <div id="information" class="col-span-2 w-full px-3 mb-4">
      <img src="{{ .Params.img }}" alt="{{ .Title }}" class="w-full h-auto rounded-xl mb-4" title="{{ .Title }}" loading="lazy" decoding="async" />
      <article class="bg-gray-100 dark:bg-gray-800 w-full mb-4 shadow-xl rounded-xl p-8">
        <h1 class="mb-4 text-amber-500 text-5xl text-center">{{ .Title }}</h1>
        {{ .Content }}
        {{ partial "components/widgets/social-share.html" . }}
      </article>
      {{ partial "components/articles/author.html" . }}
      <div class="rounded-xl bg-gray-100 dark:bg-gray-800 p-4 mt-4 flex content-center justify-center">
        <script defer src="https://i.emote.com/js/emote.js"></script>
        <div id="emote_com"></div>
      </div>
    </div>
    {{ partial "components/articles/lateralbar.html" . }}
  </div>
</div>

{{ end }}